
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td {
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
}

strong {
    font-weight: bold;
}

ul, ol {
    list-style: none outside none;
}

fieldset, img {
    border: medium none;
}

caption, th {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    margin: 0;
    font: 12px/20px Arial, Verdana, "Microsoft YaHei", "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
    color: #666;
    background: #FFF none repeat scroll 0 0;
    min-width: 1200px;
}

input, select, textarea {
    font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53","Microsoft YaHei",;
}

i, cite, em {
    font-style: normal;
}

input, button, select, textarea {
    outline: none
}

/*html {min-height:101%; }*/

a {
    color: #333;
    text-decoration: none;
    outline: medium none;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    color: #e4393c;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

* + html .clearfix {
    height: 1%;
}

time {
    color: #777;
}

article, aside, dialog, footer, header, section, footer, nav, figure, menu {
    display: block;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f20 {
    font-size: 20px;
}

.fb {
    font-weight: bold;
}

.fn {
    font-weight: normal;
}

.t2 {
    text-indent: 2em;
}

.lh150 {
    line-height: 150%
}

.lh180 {
    line-height: 180%
}

.lh200 {
    line-height: 200%
}

.unl {
    text-decoration: underline;
}

.no_unl {
    text-decoration: none;
}

.noborder {
    border-style: none !important;
    border-width: 0 !important;
}

.tl {
    text-align: left !important;
}

.tc {
    text-align: center !important;
}

.tr {
    text-align: right !important;
}

.bc {
    margin-right: auto;
    margin-left: auto;
}

.fl {
    float: left;
    display: inline;
}

.fr {
    float: right !important;
    display: inline;
}

.cb {
    clear: both;
}

.cl {
    clear: left;
}

.cr {
    clear: right;
}

.vm {
    vertical-align: middle;
}

.vt {
    vertical-align: top;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.abs-right {
    position: absolute;
    right: 0;
}

.zoom {
    zoom: 1
}

/*/!*.hidden { visibility:hidden;*!/}*/
.none {
    display: none;
}

.clear {
    clear: both;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.w10 {
    width: 10px;
}

.w20 {
    width: 20px;
}

.w30 {
    width: 30px;
}

.w40 {
    width: 40px !important;
}

.w50 {
    width: 50px !important;
}

.w60 {
    width: 60px !important;
}

.w65 {
    width: 65px !important;
}

.w70 {
    width: 70px !important;
}

.w80 {
    width: 85px !important;
}

.w90 {
    width: 90px;
}

.w96 {
    width: 96px;
}

.w100 {
    width: 100px;
}

.w110 {
    width: 110px;
}

.w120 {
    width: 120px !important;
}

.w130 {
    width: 130px;
}

.w150 {
    width: 150px !important;
}

.w160 {
    width: 160px;
}

.w180 {
    width: 180px;
}

.w200 {
    width: 200px !important;
}

.w210 {
    width: 210px !important;
}

.w230 {
    width: 230px;
}

.w240 {
    width: 240px;
}

.w250 {
    width: 250px !important;
}

.w270 {
    width: 270px;
}

.w300 {
    width: 300px !important;
}

.w340 {
    width: 340px;
}

.w380 {
    width: 380px;
}

.w400 {
    width: 400px !important;
}

.w450 {
    width: 450px !important;
}

.w500 {
    width: 500px;
}

.w530 {
    width: 530px;
}

.w600 {
    width: 600px !important;
}

.w700 {
    width: 700px;
}

.w780 {
    width: 780px;
}

.w800 {
    width: 800px;
}

.w208 {
    width: 208px;
}

.w {
    width: 100%;
}

.h40 {
    height: 40px !important;
}

.h50 {
    height: 50px !important;
}

.h80 {
    height: 80px;
}

.h100 {
    height: 100px !important;
}

.h200 {
    height: 200px;
}

.h500 {
    height: 500px !important;
}

.h {
    height: 100%
}

.size30 {
    width: 30px;
    height: 30px;
}

.size32 {
    width: 32px;
    height: 32px;
}

.size40 {
    width: 40px;
    height: 40px;
}

.size60 {
    width: 60px;
    height: 60px;
}

.size70 {
    width: 70px;
    height: 70px;
}

.size72 {
    width: 72px;
    height: 72px;
}

.size75 {
    width: 75px;
    height: 75px;
}

.size80 {
    width: 80px;
    height: 80px;
}

.size90 {
    width: 90px;
    height: 90px;
}

.size100 {
    width: 100px;
    height: 100px;
}

.size110 {
    width: 110px;
    height: 110px;
}

.size120 {
    width: 120px;
    height: 120px;
}

.size128 {
    width: 128px;
    height: 128px;
}

.size142-80 {
    width: 142px;
    height: 80px;
}

.size160 {
    width: 160px;
    height: 160px;
}

.size160-48 {
    width: 160px;
    height: 48px;
}

.size150 {
    width: 150px;
    height: 150px;
}

.size160 {
    width: 160px;
    height: 160px;
}

.size184 {
    width: 184px;
    height: 114px;
}

.size190 {
    width: 190px;
    height: 190px;
}

.size196 {
    width: 196px;
    height: 196px;
}

.size233 {
    width: 233px;
}

.size250 {
    width: 250px;
    height: 250px;
}

.size310 {
    width: 310px;
    height: 310px;
}

.m0 {
    margin: 0 !important;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px !important;
}

.m30 {
    margin: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 15px !important;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt100 {
    margin-top: 100px;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 { /*margin-bottom:10px !important;*/
    clear: both;
    overflow: hidden;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb50 {
    margin-bottom: 50px;
}

.mb100 {
    margin-bottom: 100px;
}

/*.ml5 { margin-left:5px!important;}*/
.placeleft {
    float: left;
    font-size: 13px;
}

.placeright {
    float: right;
    margin-right: 20px;
    font-size: 13px;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml50 {
    margin-left: 50px;
}

.ml100 {
    margin-left: 100px !important;
}

.ml200 {
    margin-left: 200px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mr100 {
    margin-right: 100px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p30 {
    padding: 30px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt50 {
    padding-top: 50px;
}

.pt100 {
    padding-top: 100px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb30 {
    padding-bottom: 30px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb100 {
    padding-bottom: 100px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl50 {
    padding-left: 50px;
}

.pl100 {
    padding-left: 100px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr50 {
    padding-right: 50px;
}

.pr100 {
    padding-right: 100px;
}

.hr {
    font-size: 1px;
    display: block;
    height: 0;
    margin: 12px 0;
    border-top: 1px solid #E3E3E3;
    overflow: hidden;
}

.hr-double {
    height: 1px;
    border-top: 1px solid #E3E3E3;
    border-bottom: 1px solid #E3E3E3;
}

.hr8 {
    margin: 8px 0 !important;
}

.hr12 {
    margin: 12px 0 !important;
}

.hr16 {
    margin: 16px 0 !important;
}

.hr18 {
    margin: 18px 0 !important;
}

.hr24 {
    margin: 24px 0 !important;
}

.hr32 {
    margin: 32px 0 !important;
}

.hr.dotted {
    border-top-style: dotted;
}

.hr-double.dotted {
    border-bottom-style: dotted;
}

.thumb, .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.thumb i, .logo i {
    *display: inline-block;
    *height: 100%;
    *vertical-align: middle;
}

.thumb img, .logo img {
    *vertical-align: middle;
}

.thumb-cut {
    overflow: hidden;
}

.thumb-cut a {
    text-align: center;
    float: left;
    position: relative;
    overflow: hidden;
}

.thumb-cut img {
    vertical-align: text-top;
    float: none;
    position: relative;
}

#page {
    background-color: #F5F5F5;
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #D8D8D8;
}

.warp-all {
    width: 1000px;
    margin: 0 auto;
}

.register-login span a.register {
    color: #e4393c;
}

/* 公用顶部区域
-------------------------------------- */
.register-login span {
    color: #333;
    font-size: 17px;
    font-weight: bold;
}

.common-layout-top {
    color: #666;
    background-color: #F1F1F1;
}

.common-layout-top .topbar {
    height: 30px;
}

.common-layout-top .user-entry {
    height: 30px;
    float: left;
    font-family: Microsoft YaHei,Arial;
    line-height: 30px;
    font-size: 12px;
}

#homelogout, #homelogout a {
    font-family: Microsoft YaHei,Arial !important;
    font-size: 12px;
    color: #717171;
    margin-left: -17px;
}

.common-layout-top .user-entry a {
    color: #717171;
    height: 30px;
    font-family: Microsoft YaHei,Arial!important;
    line-height: 30px;
    font-size: 12px;
    padding: 0 8px;
}

.common-layout-top .user-entry a span {
    font: 12px/150% Arial, Verdana, "\5b8b\4f53" !important;
}

.common-layout-top .seller-login {
    background-color: #D93600;
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #B22D00;
    border-radius: 3px;
    box-shadow: 2px 2px 0 rgba(204, 204, 204, 0.65);
}

.common-layout-top .seller-login a {
    line-height: 14px;
    color: #FFF;
    display: block;
    height: 14px;
    padding: 1px 4px;
}

.common-layout-top .seller-login a:hover {
    text-decoration: none;
    background-color: #B22D00;
}

.common-layout-top .seller-login i {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 4px;
}

.common-layout-top .quick-menu {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
    text-align: right;
    height: 30px;
    float: right;
}

.common-layout-top .quick-menu a {
    color: #717171 !important;
    padding: 0 2px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
    font-family: Microsoft YaHei,Arial!important;
}
.city_site{
    text-align: right;
    height: 30px;
    float: left;
}
.common-layout-top .city_site a {
    color: #717171;
    padding: 0 2px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-family: Microsoft YaHei,Arial!important;
}
.common-layout-top .city_site dl {
    text-align: left;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    height: 30px;
    position: relative;
    z-index: 999;
    text-align: center;
}

.sldCitySiteTitle{
    color: #1a1a1a;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 15px 10px;
    text-align: left;
}
.sldCitySiteline{
    border-top: 1px dotted #747474;
    background: #fff;
    margin: 0 15px 10px;
}
.sldCitySiteUl{
    padding: 0 5px;
    clear: both;
    overflow: hidden;
    width: 268px;
}
.sldCitySiteUl li{
   float: left;
    padding: 2px 0;
}
.common-layout-top .city_site dl dt a:hover {
    text-decoration: none;
}

.common-layout-top .city_site dl dt i {
    background: url(../images/sld_city_site.png) no-repeat 0 0;

    vertical-align: middle;
    display: inline-block;
    width: 11px;
    height: 12px;
    margin-left: 3px;
    margin-top: -2px;
}
.seleSldCitySite{
    font-weight: 600;
    color: #dc1a29!important;
}

.common-layout-top .city_site dl dt{
    padding: 0 15px;
}
.common-layout-top .city_site dl.hover dt i{
    background: url(../images/sld_city_site.png) no-repeat 0 0;
}


.common-layout-top .city_site dl dd ul li span{
    color: #000;
    width: 10px;
    padding: 0px 8px 2px 0!important;
}
.common-layout-top .city_site dl dd ul li a{
    color: #5c5c5c;
    margin-left: 8px;
}
.common-layout-top .city_site dl dd ul li a ,.common-layout-top .city_site dl dd ul li span{
    font-size: 12px;
    line-height: 20px;
    height: 20px;
    display: block;
    clear: both;
    padding: 0px 3px;
    text-align: left;
}
.common-layout-top .city_site dl dd {
    background-color: #FFF;
    display: none;
    width: 400px;
    padding: 10px 15px;
    border: solid 1px #eaeaea;
    position: absolute;
    left: -57px;
    top: 29px;
}
.common-layout-top .city_site dl dd ul li a:hover {
    text-decoration: none;
    background-color: #d51926;
    color: #fff!important;
}
.city_site .selected{
    text-decoration: none;
    background-color: #d51926;
    color: #fff!important;
}
.changeSldCity{
    line-height: 30px;
    height: 30px;
    font-size: 12px;
    margin-left: -40px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}
.changeSldCity.hover{
    color:#dc1a29!important;
}
.common-layout-top .city_site dl.hover dd ,.common-layout-top .city_site dl.hover dd .arrow{
    display: block;
}
.changeSldBox  dd .arrow{
    display: none;
    position: absolute;
    width: 13px;
    height: 7px;
    background: url(../images/bgcitysitesldarrow.png) no-repeat -46px 0;
    top: -6px;
    left: 18px;
    z-index: 2;
    overflow: hidden;
}
#jsCityLayerChar {
    border-bottom: solid 1px #e9e9e9;
    padding: 5px 0;
    text-align: left;
}
.char-index a{
    width: 17px!important;
    height: 17px!important;
    text-align: center;
    color: #d02e2c!important;
    font-family: Arial;
    font-size: 14px!important;
    line-height: 17px!important;
    display: inline-block;
    padding: 0!important;

}
.char-index a:hover{
    color: #fff!important;
    background: #ca033c;
    text-decoration: none;
}
.city-table {
    height: 180px;
    margin-top: 10px;
    overflow: hidden;
}
.city-table .content {
    width: 385px;
    height: 180px;
    float: left;
    position: relative;
}
.city-table .content table {
    width: 100%;
}
.city-table .content table th {
    vertical-align: top;
    display: inline-block;
    width: 5px;
}
.city-table .content table th div {
    width: 21px;
    height: 19px;
    padding-right: 2px;
    background: url(../images/bgcitysitesldarrow.png) -22px -17px;
    text-align: center;
    line-height: 19px;
    color: #fff;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 11px;
    overflow: hidden;
}
#jsCityLayerScrollWarrper td a:first-child{
    margin-left: 17px;
}
.city-table .content td {
    line-height: 19px;
    vertical-align: top;
    padding-bottom: 11px;
    padding-left: 5px;    text-align: left;
}
.city-table .content table tr{
    text-align: left;
}
.city-table .content table td a {
    padding: 0px 5px;
    line-height: 19px!important;
    height: 19px!important;
    display: inline-block;
    vertical-align: top;
}
.city-table .content table td a:hover {
    color: #fff!important;
    background: #ca033c;
    text-decoration: none;
}
#jsCityLayerHotCity{
    text-align: left
}
#jsCityLayerHotCity a:hover{
    color: #fff!important;
    background: #ca033c;
    text-decoration: none;
}
.city-table .scroller {
    width: 10px;
    height: 180px;
    float: right;
    overflow: hidden;
    background: url(../images/bgcitysitesldarrow.png) -11px 0px repeat-y;
}
.city-table .scroller span {
    width: 10px;
    height: 36px;
    overflow: hidden;
    cursor: pointer;
    background: url(../images/bgcitysitesldarrow.png) 0px 0px no-repeat;
    display: inline-block;
}
.hot-city a {
    padding: 0 3px;
    line-height: 19px;
    margin-right: 2px;
    color: #434343;
}
#jsCityLayerScrollWarrper{
    position: relative;
}
#jsCityLayerScrollWarrper .current{
    position: absolute;
    top:5px;
}















.common-layout-top .quick-menu dl {
    text-align: left;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline /*IE6、7*/;
    width: 94px;
    height: 30px;
    position: relative;
    z-index: 999;
    *zoom: 1 /*IE6、7*/;
}

.common-layout-top .quick-menu dl dt {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 20px;
    color: #717171;
    font-family: Microsoft YaHei,Arial!important;
    font-weight: normal;
}




.common-layout-top .quick-menu dl dd {
    background-color: #FFF;
    display: none;
    width: 92px;
    border: solid 1px #F0F0F0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 7px;
}
.common-layout-top .quick-menu dl dt a:hover {
    text-decoration: none;
    color: #F30;
}

.common-layout-top .quick-menu dl dt i {
    background: url(../images/top_bg.png) no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 10px;
    height: 5px;
    margin-left: 6px;
    -webkit-transition: .2s ease-in;
    -moz-transition: -webkit-transform .2s ease-in;
    -o-transition: -webkit-transform .2s ease-in;
    transition: .2s ease-in;
}

.common-layout-top .quick-menu dl.hover dt i {
    FILTER: progid: DXImageTransform . Microsoft . BasicImage(rotation = 2);
    -moz-transform: rotate(180deg);
    -moz-transform-origin: 50% 30%;
    -webkit-transform: rotate(180deg);
    -webkit-transform-origin: 50% 30%;
    -o-transform: rotate(180deg);
    -o-transform-origin: 50% 30%;
    transform: rotate(180deg);
    transform-origin: 50% 30%;
}

.common-layout-top .quick-menu dl dd {
    background-color: #FFF;
    display: none;
    width: 92px;
    border: solid 1px #F0F0F0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 7px;
}

.common-layout-top .quick-menu dl.hover dd {
    display: block;
}

.common-layout-top .quick-menu dl dd ul {
    width: 92px;
    margin: 30px 0 0 0;
}

.common-layout-top .quick-menu dl dd ul li a {
    font-size: 12px;
    line-height: 24px;
    display: block;
    clear: both;
    padding: 2px 0 2px 15px;
}

.common-layout-top .quick-menu dl dd ul li a:hover {
    text-decoration: none;
    background-color: #F7F7F7;
}

.common-layout-top .quick-menu dl.down_weixin dd {
    width: 222px;
    padding: 5px;
    left: 0;
    top: 30px;
    text-align: center;
}

.common-layout-top .quick-menu dl.down_weixin {
    font-size: 12px;
}

.common-layout-top .quick-menu dl.down_weixin dd {
    width: 122px;
    padding: 5px;
    left: 0;
    top: 30px;
    text-align: center;
}

.common-layout-top .quick-menu dl.down_weixin .qrcode {
    width: 120px;
    text-align: center;
    float: left;
}

.common-layout-top .quick-menu dl.down_weixin .qrcode img {
    display: block;
    max-width: 120px;
    max-height: 120px;
}

.common-layout-top .quick-menu dl.down_weixin .hint {
    width: 100px;
    float: right;
    text-align: center;
}

.common-layout-top .quick-menu dl.down_weixin .hint h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #F32613;
}

.warning {
    color: #C00;
    background-color: #FFC;
    width: 98%;
    clear: both;
    padding: 6px;
    margin: 6px auto;
    border: 1px dashed #F90;
}

.warning label {
    clear: both;
    line-height: 20px;
}

/* Scrollbar jQuery Plugin
-------------------------------------- */
.ps-container .ps-scrollbar-x,
.ps-container .ps-scrollbar-y {
    background-color: #AAA;
    height: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    position: absolute;
    z-index: auto;
    bottom: 3px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    transition: opacity .25s linear;
}

.ps-container .ps-scrollbar-x {
    left: auto;
    height: 8px;
    bottom: 3px;
}

.ps-container .ps-scrollbar-y {
    right: 3px;
    width: 8px;
    bottom: auto;
}

.ps-container:hover .ps-scrollbar-x,
.ps-container:hover .ps-scrollbar-y {
    opacity: .6;
    filter: alpha(opacity=60);
}

.ps-container .ps-scrollbar-x:hover,
.ps-container .ps-scrollbar-y:hover {
    opacity: .9;
    filter: alpha(opacity=90);
    cursor: default;
}

.ps-container .ps-scrollbar-x.in-scrolling,
.ps-container .ps-scrollbar-y.in-scrolling {
    opacity: .9;
    filter: alpha(opacity=90);
}

.wrapfoot{	background:rgb(64, 63, 77);}
#faq {
    width: 100%;
    border-bottom: solid 1px rgb(64, 63, 77);
    overflow: hidden;
    margin: auto;
	padding-top:20px;
	background:rgb(64, 63, 77);
}

#faq ul {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
    white-space: nowrap;
    padding: 0 0 20px 0;
    margin-left: -1%
}

#faq li {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline /*IE7*/;
    width: 17%;
    zoom: 1;
}

#faq dl {
    display: block;
    width: 90%;
    margin: 0 auto;
}

#faq .s1 dt {
    font: bold 16px/20px "microsoft yahei";
    color: #fff;
    padding: 10px 0px;
    margin: 5px 0;
    border-bottom: solid 1px #39c471;
    position: relative
}

#faq .s2 dt {
    font: bold 16px/20px "microsoft yahei";
    color: #fff;
    padding: 10px 0px;
    margin: 5px 0;
    border-bottom: solid 1px #39c471;
    position: relative
}

#faq .s3 dt {
    font: bold 16px/20px "microsoft yahei";
    color: #fff;
    padding: 10px 0px;
    margin: 5px 0;
    border-bottom: solid 1px #39c471;
    position: relative
}

#faq .s4 dt {
    font: bold 16px/20px "microsoft yahei";
    color: #fff;
    padding: 10px 0px;
    margin: 5px 0;
    border-bottom: solid 1px #39c471;
    position: relative
}

#faq .s5 dt {
    font: bold 16px/20px "microsoft yahei";
    color: #fff;
    padding: 10px 0px;
    margin: 5px 0;
    border-bottom: solid 1px #39c471;
    position: relative
}

#faq .s6 dt {
    font: bold 16px/20px "microsoft yahei";
    color: #fff;
    padding: 10px 0px;
    margin: 5px 0;
    border-bottom: solid 1px #39c471;
    position: relative
}

#faq dl dd {
    font: 12px/20px "microsoft yahei";
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    clear: both;
    padding: 2px 5px 2px 0;
    overflow: hidden;
}

#faq dl dd i {
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    display: inline-block;
}

#faq dl dd a {
    color:#fff;
}

#footer {
    font-size: 12px !important;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow: hidden;
}

#footer p {
    color: #fff;
    word-spacing: 5px;
    padding: 10px 0;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footer .vol {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: 12px;
}

#footer .vol .b {
    color: #00F;
}

#footer .vol .o {
    color: #F60;
}

#footer .vol em {
    font-family: Georgia, Arial;
    font-weight: 600;
    font-style: italic;
    color: #fff;
    margin-left: 2px;
}

.tip-yellowsimple {
    color: #fff;
    background-color: #fff9c9;
    text-align: left;
    min-width: 50px;
    max-width: 300px;
    border: 1px solid #c7bf93;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    z-index: 1000;
    padding: 6px 8px;
}

.tip-yellowsimple .tip-inner {
    font: 12px/16px arial, helvetica, sans-serif;
}

.tip-yellowsimple .tip-arrow-top {
    background: url(../images/tip-yellowsimple_arrows.gif) no-repeat;
    width: 9px;
    height: 6px;
    margin-top: -6px;
    margin-left: -5px;
    top: 0;
    left: 50%;
}

.tip-yellowsimple .tip-arrow-right {
    background: url(../images/tip-yellowsimple_arrows.gif) no-repeat -9px 0;
    width: 6px;
    height: 9px;
    margin-top: -4px;
    margin-left: 0;
    top: 50%;
    left: 100%;
}

.tip-yellowsimple .tip-arrow-bottom {
    background: url(../images/tip-yellowsimple_arrows.gif) no-repeat -18px 0;
    width: 9px;
    height: 6px;
    margin-top: 0;
    margin-left: -5px;
    top: 100%;
    left: 50%;
}

.tip-yellowsimple .tip-arrow-left {
    background: url(../images/tip-yellowsimple_arrows.gif) no-repeat -27px 0;
    width: 6px;
    height: 9px;
    margin-top: -4px;
    margin-left: -6px;
    top: 50%;
    left: 0;
}

.jmys-appbar {
    position: fixed;
    z-index: 1998;
    width: 35px;
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
}

.jmys-appbar-tabs {
    width: 35px;
    height: 100%;
}

.jmys-appbar-tabs .ever {
    width: 36px;
    background-color: #707070;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 58px;
    height: 36px;
    border-radius: 4px 0 0 4px;
    margin-top: 54px;
}


.jmys-appbar-tabs .cart a {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
    border-radius: 4px 0 0 4px;
}
.jmys-appbar-tabs .variation {
    width: 35px;
    height: 100%;
    border-right: 4px solid #707070;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.jmys-appbar-tabs .variation .middle {
    width: 36px;
    position: absolute;
    bottom: 144px;
    right: -4px;
}

.jmys-appbar-tabs .chat a,
.jmys-appbar-tabs .user a,
.jmys-appbar-tabs .compare a,
.jmys-appbar-tabs .gotop a {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
    background: #707070;
    border-radius: 4px 0 0 4px;
}

.jmys-appbar-tabs .l_qrcode {
    width: 36px;
    float: right;
    position: fixed;
    right: 0;
    margin-top: 7px;
    _position: absolute;
    _bottom: auto;
    background: #707070;
    _margin-bottom: 0;
    font-size: 14px;
    z-index: 90;
    border-radius: 4px 0 0 4px;
}



.jmys-appbar-tabs .variation .user #predeposit i{
    font-size: 16px;
    top: 9px;
}
.jmys-appbar-tabs .variation .user a i{
    font-size: 17px;
    right: 9px;
}
.jmys-appbar-tabs .variation .l_qrcode a i{
    font-size: 19px;
    right: 8px;
    top: 6px;
}
.jmys-appbar-tabs .im_list #chat_show_user i{
    font-size: 17px;
    right: 8px;
    top: 7px;
}
.jmys-hidebar {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 15px;
    right: -79px;
    cursor: pointer;
}

.jmys-hidebar .jmys-hidebar-bg {
    background: url(../images/toolbar.png) no-repeat -100px 0;
    width: 79px;
    height: 56px;
    position: relative;
    z-index: 1;
}

.jmys-hidebar .jmys-hidebar-bg .user-avatar,
.jmys-hidebar .jmys-hidebar-bg .frame,
.jmys-hidebar .jmys-hidebar-bg .show {
    background: url(../images/toolbar.png) no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 10px;
    left: 15px;
}

.jmys-hidebar .jmys-hidebar-bg .user-avatar {
    background-position: -100px 0px;
    z-index: 1;
}

.jmys-hidebar .jmys-hidebar-bg .user-avatar img {
    max-width: 36px;
    max-height: 36px;
}

.jmys-hidebar .jmys-hidebar-bg .frame {
    background-position: -100px -70px;
    z-index: 2;
}

.jmys-hidebar .jmys-hidebar-bg .show {
    display: none;
    background-position: -140px -70px;
    z-index: 3;
}

.jmys-hidebar .jmys-hidebar-bg:hover .show {
    display: block;
}

.jmys-hidebar:hover {
    background-position: -100px -60px;
}

.jmys-appbar-tabs .user {
    display: block;
    margin-top: 7px;
}

.jmys-appbar-tabs .user .avatar {
    width: 36px;
    height: 36px;
    border-radius: 14px;
}

.jmys-appbar-tabs .user .avatar img {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-top: 7px;
    margin-left: 8px;
}

.jmys-appbar-tabs span.icon {
    display: block;
    background: url(../images/toolbar.png) no-repeat;
    width: 35px;
    height: 35px;
}

.jmys-appbar-tabs .chat {
    display: block;
    margin-top: 7px;
}

.jmys-appbar-tabs .chat .icon {
    background-position: 0 0;
}

.jmys-appbar-tabs .cart a {
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
    border-radius: 4px 0 0 4px;
}
.jmys-appbar-tabs .cart a i{
    top: 5px;
    font-size: 19px;
    right: 8px;
}
.barSldQrcode{
    width: 140px;
    height: 140px;
    display: none;
    position: absolute;
    right: 45px;
    top: 15px;
    transition: 0.5s;
}
.barSldQrcode img{
    width: 100%;
    height: 100%;
}




.jmys-appbar-tabs .cart a:hover,
.jmys-appbar-tabs .user a:hover,
.jmys-appbar-tabs .compare a:hover{
    background-color: #da1121;
}

.jmys-appbar-tabs .gotop a:hover{

}
    /*.jmys-appbar-tabs .compare .icon {*/
    /*background-position: 0 -40px;*/
/*}*/

/*.jmys-appbar-tabs .cart .icon {*/
    /*background-position: 0 -120px;*/
/*}*/

.jmys-appbar-tabs .cart .name {
    line-height: 16px;
    color: #FFF;
    display: block;
    text-align: center;
    width: 15px;
    padding: 0 10px;
    white-space: pre-wrap;
}

.jmys-appbar-tabs .prech {
    display: block;
    width: 35px;
    height: 158px;
}

.jmys-appbar-tabs .gotop {
    position: fixed;
    bottom: 15px;
    right: 0;
}

.jmys-appbar-tabs .gotop .icon {
    background-position: 0 -80px;
    opacity: 1;
}

.jmys-appbar-tabs .gotop:hover .icon {
    opacity: 1;
}
.jmys-appbar-tabs #gotop i{
    top:3px;
}
.jmys-appbar-tabs a i {
    color: #FFF;
    text-align: center;
    padding: 1px;
    position: absolute;
    z-index: 1;
    top: 8px;
    right: 4px;
    font-size: 27px;
}

.jmys-appbar-tabs a:hover {
    background-color: #ffbb32;
}

.jmys-appbar-tabs a span.tit {
    line-height: 30px;
    color: #FFF;
    background: url(../images/toolbar.png) no-repeat -50px 0;
    white-space: nowrap;
    display: none;
    width: 86px;
    height: 30px;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 33px;
    padding-left: 16px;
}

.jmys-appbar-tabs a:hover span.tit {
    display: block;
}

.jmys-appbar-tabs a code {
    display: none;
    position: absolute;
    right: 35px;
    bottom: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #B7B7B7;
    border-right: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    -webkit-box-shadow: 0 0 5px #ccc;
    z-index: 95;
    -webkit-animation: fadeInLeft .4s .1s ease both;
    -moz-animation: fadeInLeft .4s .1s ease both;
}

.jmys-appbar-tabs a.hover code {
    display: block;
}

.jmys-appbar-tabs a code a {
    color: #d8d8d8;
}

.jmys-appbar-tabs .hover {
    z-index: 101;
}



/*解决IE6下不兼容 position:fixed 的问题*/
.jmys-appbar-tabs .l_qrcode a {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
    border-radius: 4px 0 0 4px;
}

.jmys-appbar-tabs .l_qrcode .icon {
    background-position: 0 -160px;
    opacity: 1;
}

.jmys-appbar-tabs .l_qrcode:hover .icon {
    opacity: 1;
}

.jmys-appbar-tabs .l_qrcode a i {
    position: absolute;
    right: auto;
    right: 10px;
}

.jmys-appbar-tabs .l_qrcode:hover i {
    display: block;
}

.jmys-appbar-tabs .l_qrcode a code {
    padding: 0;
}

.jmys-appbar-tabs .l_qrcode a code img {
    max-width: 200px;
    max-height: 200px;
}

/*工具条-会员登录*/
.jmys-appbar-tabs .user-login-box {
    background-color: #FFF;
    width: 326px;
    padding: 10px 30px 5px 30px;
    border: solid 1px #CCC;
    position: absolute;
    z-index: 2;
    top: -32px;
    right: 35px;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25);
}

.jmys-appbar-tabs .user-login-box i.arrow {
    background: url(../images/toolbar.png) no-repeat -100px -150px;
    width: 7px;
    height: 13px;
    position: absolute;
    z-index: 3;
    top: 45px;
    right: -7px;
}

.jmys-appbar-tabs .user-login-box a.close-a {
    font: 600 11px /16px Verdana, Geneva, sans-serif;
    text-decoration: none;
    color: #999;
    text-align: center;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 3;
    top: 10px;
    right: 10px;
}

.jmys-appbar-tabs .user-login-box a {
    line-height: 20px;
    color: #666;
}

.jmys-appbar-tabs .user-login-box dl {
}

.jmys-appbar-tabs .user-login-box dt {
    font: 13px/20px Arial, "microsoft yahei";
    height: 20px;
    padding: 10px 0 0;
}

.jmys-appbar-tabs .user-login-box dt a {
    font: 12px/20px arial, "宋体";
    color: #005EA6;
    text-decoration: underline;
    float: right;
}

.jmys-appbar-tabs .user-login-box dd {
}

.jmys-appbar-tabs .user-login-box dd .text {
    color: #666;
    border: 1px solid #eee;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 14px;
    width: 95%;
    height: 44px;
    line-height: 44px;
    background-color: #FFF;
    margin-top: 22px;
    padding: 0 0 0 12px;
}
.reg_pds_part{
    clear: both;
    overflow: hidden;
    padding: 20px 0 0 0;
}
.forget_password_li {
    float: right;
    margin-right: 20px;
    line-height: 20px;
    color: #666;
}
.go_register_li {
    float: left;
    margin-left: 20px;
}
.jmys-appbar-tabs .user-login-box .bottom {
    margin-top: 20px;
}

.jmys-appbar-tabs .user-login-box .submit {
    color: #FFF;
    font-size: 20px;
    width: 100%;
    height: 42px;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
    text-align: center;
    background: #ee0f20;
    border-radius: 4px;
    margin: 10px auto 5px auto;
    overflow: hidden;
}

.jmys-appbar-tabs .user-info {
    background-color: #FFF;
    width: 240px;
    padding: 9px 19px;
    border: solid 1px #CCC;
    position: absolute;
    z-index: 2;
    top: -32px;
    right: 35px;
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.25);
}

.jmys-appbar-tabs .user-info i.arrow {
    background: url(../images/toolbar.png) no-repeat -100px -150px;
    width: 7px;
    height: 13px;
    position: absolute;
    z-index: 3;
    top: 45px;
    right: -7px;
}

.jmys-appbar-tabs .user-info .avatar {
    width: 88px;
    height: 88px;
    float: left;
    position: relative;
    z-index: 1;
}

.jmys-appbar-tabs .user-info .avatar .frame {
    background: url(../images/point_bg.png) no-repeat 0 0;
    width: 88px;
    height: 88px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.jmys-appbar-tabs .user-info .avatar img {
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;
}

.jmys-appbar-tabs .user-info dl {
    display: block;
    width: 140px;
    float: left;
    margin: 10px 0 0 10px;
}

.jmys-appbar-tabs .user-info dt {
    font: 600 14px/20px "microsoft yahei";
    margin-bottom: 6px;
}

.jmys-appbar-tabs .user-info dd {
    line-height: 22px;
}

#sldToolbar .content-box {
    background-color: #F5F5F5;
    width: 200px;
    height: 100%;
    border-left: solid 1px #7C8994;
    position: absolute;
    z-index: 0;
    top: 0;
    right: -210px;
    bottom: 0;
    box-shadow: -4px 0 2px rgba(0, 0, 0, 0.25);
}

#sldToolbar .content-box .top {
    height: 24px;
    padding: 9px 7px;
    border-bottom: dotted 1px #CCC;
    margin-bottom: 10px;
}

#sldToolbar .content-box .top h3 {
    font: 16px/24px "microsoft yahei";
    color: #333;
    display: inline-block;
}

#sldToolbar .content-box .top a.close {
    background: url(../images/toolbar.png) no-repeat -100px -120px;
    width: 16px;
    height: 16px;
    margin-top: 4px;
    float: right;
}

#sldToolbar .content-box .goods-list {
    background-color: #FFF;
    width: 180px;
    padding: 10px 0;
    margin: 0 auto;
}

#sldToolbar .content-box .goods-list li {
    width: 160px;
    padding: 0 0 10px 0;
    margin: 0 auto;
}

#sldToolbar .content-box .goods-info {
    width: auto;
    margin: auto;
}

.jmys-appbar .goods-pic {
    width: 120px;
    height: 120px;
    margin: 0 auto 10px auto;
}

.jmys-appbar .goods-pic a {
    line-height: 0;
    background: none;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 120px;
    height: 120px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.jmys-appbar .goods-pic a img {
    max-width: 120px;
    max-height: 120px;
    margin-top: expression( 120-this.height/2);
    *margin-top: expression(60-this.height/2) /*IE6,7*/;
}

.jmys-appbar .goods-name a {
    font-weight: normal;
    line-height: 16px;
    color: #555;
    background: none;
    text-align: left;
    display: block;
    width: 100%;
    height: 16px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.jmys-appbar .goods-price {
    font: 600 14px/20px Arial;
    color: #C00;
}

.jmys-appbar .goods-price .del {
    font: normal 12px/20px Arial;
    color: #005EA6;
    display: none;
    float: right;
    cursor: pointer;
}

#sldToolbar .goods-list li:hover .goods-price .del {
    display: block;
}

#sldToolbar .content-box .no-compare {
    color: #999;
    line-height: 180px;
    text-align: center;
}

.jmys-appbar .content-box .btn-box {
    background-color: #F5F5F5;
    text-align: center;
    width: 160px;
    padding: 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 10px;
}

.jmys-appbar .content-box .btn-box a {
    background-color: #F32613;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px 10px;
}

.jmys-appbar .content-box .btn-box .total-price {
    color: #777;
    padding-bottom: 10px;
}

.jmys-appbar .cart-list {
    width: 180px;
    margin: 0 auto;
}

.jmys-appbar .cart-list li {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
    background-color: #FFF;
    padding: 4px;
    border: solid 1px #FFF;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.jmys-appbar .cart-list li:hover {
    border-color: #F32613;
    box-shadow: 3px 3px 0 rgba(204, 204, 204, 0.75);
}

.jmys-appbar .cart-list .goods-pic,
.jmys-appbar .cart-list dl {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    display: inline-block;
    *display: inline /*IE6、7*/;
    *zoom: 1;
}

.jmys-appbar .cart-list .goods-pic {
    width: 40px;
    height: 40px;
    margin: 0;
}

.jmys-appbar .cart-list .goods-pic a {
    line-height: 0;
    background: none;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.jmys-appbar .cart-list .goods-pic a img {
    max-width: 40px;
    max-height: 40px;
    margin-top: expression( 40-this.height/2);
}

.jmys-appbar .cart-list dl {
    width: 125px;
    margin-left: 5px;
}

.jmys-appbar .cart-list .goods-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.jmys-appbar .cart-list a.del {
    font: 600 10px/14px Arial;
    color: #FFF;
    background-color: #CCC;
    text-align: center;
    width: 14px;
    height: 14px;
    border-radius: 7px;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: -5px;
}

.jmys-appbar .cart-list li:hover a.del {
    background-color: #F32613;
}

#top_search_box .ui-widget-content {
    background: #FFF none !important;
    border-color: #CCC !important;
    border: 1px solid #dddddd;
}

#top_search_box .ui-corner-all {
    line-height: 24px;
    display: block;
    color: #555 !important;
    text-indent: 8px;
}

#top_search_box .ui-state-hover {
    font-weight: normal !important;
    color: #333 !important;
    text-decoration: none !important;
    background: #EEE none !important;
    border: none !important;
    cursor: pointer !important;
}

.trace {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 18px;
    background: #FFF299;
    padding: 8px;
    margin: 8px;
    border: 1px dashed silver;
}

.trace fieldset {
    margin: 8px;
}

.trace fieldset legend {
    font-size: 16px;
    color: #000;
    font-weight: bold;
}

.trace fieldset div {
    overflow: auto;
    max-height: 300px;
    _height: 300px;
    text-align: left;
}

.member-card {
    width: 280px;
    margin: -5px -9px;
}

.member-card dl {
    padding: 5px 9px;
    position: relative;
    z-index: 1;
}

.member-card dl dt.member-id {
    line-height: 20px;
    color: #333;
    height: 20px;
    margin-left: 85px;
}

.member-card dl dt.member-id i {
    background: url(../images/sex.png) no-repeat;
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.member-card dl dt.member-id i.sex1 {
    background-position: 0 0;
}

.member-card dl dt.member-id i.sex2 {
    background-position: 100% 0;
}

.member-card dl dt.member-id i.sex3 {
    display: none;
}

.member-card dl dt.member-id a {
    font-size: 14px;
    font-weight: 600;
}

.member-card dl dd.avatar {
    width: 72px;
    height: 72px;
    padding: 2px;
    border: solid 1px #E7E7E7;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 9px;
}

.member-card dl dd.avatar img {
    width: 72px;
    height: 72px;
}

.member-card dl dd.info {
    height: 60px;
    margin-left: 85px;
}

.member-card dl dd.info li {
    line-height: 20px;
    vertical-align: middle;
    height: 20px;
}

.member-card dl dd.ajax-info {
    line-height: 20px;
    margin-top: 5px;
}

.member-card .bottom {
    background-color: #F8FBFE;
    padding: 5px 9px;
    border-top: solid 1px #AED2FF;
    overflow: hidden;
}

.member-card .follow-handle {
}

.member-card .follow-handle a {
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    line-height: 16px;
    color: #FFFFFF;
    background-color: #44AA5D;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44AA5D', endColorstr='#289D55');
    background-image: -webkit-gradient(linear, left top, left bottom, from(#44AA5D), to(#289D55));
    background-image: -moz-linear-gradient(top, #44AA5D, #289D55);
    display: inline-block;
    height: 16px;
    padding: 4px 12px;
    border: 1px solid #289D55;
    cursor: pointer;
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
    margin-right: 10px;
}

.member-card .send-msg {
    float: right;
    padding: 5px;
}

.member-card .send-msg a {
    font-size: 12px;
    line-height: 16px;
    color: #777;
    height: 16px;
}

.member-card .send-msg a i {
    background: url(../images/member-card/mail-send.png) no-repeat 0 0;
    vertical-align: middle;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.jmyssl-nav .banner a.img {
    width: 1200px;
}

.jmyssl-nav {
    width: 1200px;
    margin: 0 auto;
}

#nav {
    width: 1198px;
    height: 52px;
    overflow: hidden;
}

#nav li {
    float: left;
}

#nav li a {
    height: 52px;
    float: left;
}

#nav li a span {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
    color: #FFF;
    float: left;
    height: 20px;
    padding: 9px 15px;
    margin-left: 4px;
    overflow: hidden;
    cursor: pointer;
}

#nav li.normal a {
    background-position: 0px -80px;
}

#nav li.normal a span {
    background-position: right -120px;
}

#nav li.normal a:hover {
    background-position: left -160px;
}

#nav li.normal a:hover span {
    background-position: right -200px;
}

#nav li.active a, #nav li.active a:hover {
    background-position: 0px -240px;
}

#nav li.active a span, #nav li.active a:hover span {
    background-position: right -280px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}

.pagination {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.pagination ul {
    *word-spacing: -1px /*IE6、7*/;
}

.pagination ul li {
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    margin: 0 0 0 -1px;
}

.pagination ul li {
    *display: inline /*IE6、7*/;
    *zoom: 1;
}

.pagination li span {
    color: #AAA;
    background-color: #FFF;
    text-align: center;
    display: block;
    min-width: 20px;
    padding: 8px;
    border: 1px solid #E6E6E6;
    position: relative;
    z-index: 1;
}
#paneldian .pagination { margin-top: 15px;}
#paneldian .pagination li span,#paneldian .pagination li:first-child .demo,#paneldian .pagination li:last-child .demo{ display: none; font-size: 12px; padding: 5px;}
#paneldian .pagination li a span,#paneldian .pagination li span.currentpage{ display: block;}

.pagination li a span, .pagination li a:visited span {
    color: #555;
    text-decoration: none;
    background-color: #FFF;
    position: relative;
    z-index: 1;
}

.pagination li a:hover span, .pagination li a:active span {
    color: #ED5564;
    text-decoration: none;
    border-color: #DB4453;
    position: relative;
    z-index: 9;
    cursor: pointer;
}

.pagination li a:hover {
    text-decoration: none;
}

.pagination li span.currentpage {
    color: #FFF;
    font-weight: bold;
    background-color: #ffbb32;
    border-color: #ffbb32;
    position: relative;
    z-index: 2;
}

* {
    margin: 0;
}

.bbc_bg {
    background: #00ae60;
}

.wrap,
.wrapper {
    width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    position: relative;
}

input {
    outline: none;
    border: none;
}

#site_keywords:focus {
    border: 0;
    box-shadow: none;
}

.ci-count {
    position: absolute;
    top: -4px;
    left: 96px;
    display: inline-block;
    padding: 1px 2px;
    font-size: 12px;
    line-height: 12px;
    color: #fff;
    border-radius: 7px 7px 7px 0;
    min-width: 12px;
    text-align: center;
	background:#ffbb32;
}

#site_search {
    color: #666;
}

.bbc_buyer_icon a {
    color: #666;
}



