@charset "utf-8";
/* CSS Document */
/*修改前后台冲突样式*/
.adPicBox { width: 55px; height: 55px; border-radius: 1px; }
.adPicBox .goods-thumb { background-color: #FFF; vertical-align: middle; display: inline-block; width: 55px; height: 55px; height: auto; }
.floor-layout .floor-con .floor-title .floor-tabs-nav li h3 { line-height:34px}
/*按钮的重新定义与前台common.css冲突*/
.btn { font-size: 12px; border-radius: 0px; padding: 8px 16px; height: 32px; line-height: 14px; border-radius: 2px; }
.btn.active, .btn:active { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.10) inset; }
/*默认按钮*/
.btn-default { color: #666; border: 1px solid #DDD; background-color: #F7F7F7 !important; }
.btn-default:hover { color: #666; border: 1px solid #DDD; background-color: #FFF !important; }
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover { color: #666; background-color: #fff; border-color: #ddd }
/*蓝色primary按钮*/
.btn-primary { background: #1B9AF7 !important; border-color: #078AEB !important; }
.btn-primary:hover { background: #078AEB !important; border-color: #0681DB !important }
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover { color: #fff; background-color: #078AEB; border-color: #0681DB }
.btn-primary.focus, .btn-primary:focus { background-color: #078AEB; border-color: #0681DB }
/*绿色success按钮*/
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover { color: #fff; background-color: #449D44; border-color: #398439; }
/*浅蓝info按钮*/
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover { color: #fff; background-color: #31B0D5; border-color: #269ABC; }
/*黄色warning按钮*/
.btn-warning.active.focus, .btn-warning.active:focus, .btn-warning.active:hover, .btn-warning:active.focus, .btn-warning:active:focus, .btn-warning:active:hover, .open>.dropdown-toggle.btn-warning.focus, .open>.dropdown-toggle.btn-warning:focus, .open>.dropdown-toggle.btn-warning:hover { color: #fff; background-color: #EC971F; border-color: #D58512; }
/*红色danger按钮*/
.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover { color: #fff; background-color: #C9302C !important; border-color: #AC2925; }
/*表单冲突*/
.form-horizontal { width: 100%; padding: 0; }
.form-horizontal .form-group { margin-right: -15px; margin-left: -15px; }
.table-content .form-group .form-control-box { display: inline-block; text-align: left; width: auto; float: left; position: relative; line-height: 18px;}
.table-content .form-group .form-control { width: 300px; }
.form-horizontal .form-control.ipt { width: 120px !important }
.form-group .col-sm-3 { width: 20%; }
.form-group .col-sm-9 { width: 70%; }
.form-horizontal .form-group .input-file-show span.show i { margin: 0 0 0 5px; }
.type-file-text { height: 30px !important; }
.form-horizontal .form-group .input-file-show .type-file-box .type-file-button { float: right !important }
.page-box .pagination-info select,.page-box .pagination a,input.form-control,select.form-control,.search-term .form-control{ height:18px !important;}
.table tbody tr td {padding: 4px 8px;}
.search-condition .chosen-container,.search-condition .form-control{ width:150px !important}
.table-content .form-group .chosen-container {width:150px !important}
.table-content .form-group #link_change .chosen-container {width:250px !important}
.chosen-search input{ width:100% !important; height:30px !important;}
.table-content .form-group #link_change .chosen-container {width:250px !important}



/*选择商品冲突*/
.choose-goods-list .search-condition { width: auto !important }
.choose-goods-list ul.goods-list li { width: 178px !important; }
.choose-goods-list ul.goods-list li .picture{ height:120px;}
.btn.btn-xs { width: auto; min-width: 40px !important; }
.choose-goods-list ul.goods-list li:nth-child(5n) { border-right: 0px; }

/*重新定义与前台common.css冲突    end*/

/*解决tab与styles样式冲突*/
.floatPanel .tabmenu { margin-bottom: 0 !important }
.floatPanel .tabmenu .tab { height: 38px !important; border: 0 !important }
.floatPanel .tabmenu .tab a { margin: 0 !important; padding: 0px !important }
.floatPanel .tabmenu .tab li { margin: 0 !important; }
/*顶部topbar样式*/
.module-topBar { position: fixed; _position: absolute; width: 100%; top: 0; left: 0; z-index: 99999; background: url(../../images/topBarArea.png) repeat-x; }
.module-topBar-inner { position: relative; padding: 0; margin: 0 auto; width:1210px; height: 50px; line-height: 44px; z-index: 9002; text-align: left; color: #000; }
.top-set-btn{ display:inline-block; float:left;width:125px;cursor: pointer;text-align: center;font-size: 13px;font-weight: normal;color: #f6fafe; position:relative;}
.top-set-btn a.set-btn{height: 43px;color: #f6fafe; display:block; width:125px;background: #1E77A3;}
.top-set-btn .icon { background: url(../../images/renovation-bg.png) -1306px -177px no-repeat; width: 21px; height: 16px; display: inline-block; vertical-align: -3px; margin-right:3px; }
.top-set-btn .icon.se-btn-pc{margin-left: -1px;background-position: -257px -169px;background-size: 400px;}
.top-set-btn .icon.se-btn-weixin{background-position: -367px -197px;background-size: 470px;height: 23px;width: 22px;}
.top-set-btn .icon.se-btn-app{background-position: -338px -203px;background-size: 475px;}
.set-btn-box{ position:absolute; top:43px; left:0px;}
.set-btn-box a.set-btn{border-top: 1px solid #2289BB;}
.set-btn-box a.set-btn:hover{background:#238CBE;}


.module-topBar .topBar-navbar { height: 43px; border-left: 1px solid #62a4de; border-right: 1px solid #62a4de; float: left; }
.module-topBar .topBar-navbar a { color: #f6fafe; text-decoration: underline; }
.topBar-navbar a .topBar-button { float: left; height: 43px; padding: 0px 15px; cursor: pointer; text-align: center; font-size: 13px; font-weight: normal; border-right: 1px solid #2f86d3; border-left: 1px solid #62a4de; *height: 39px;
}
.topBar-navbar a:first-child .topBar-button { border-left: 1px solid rgb(47, 134, 211); }
.topBar-navbar a:hover .topBar-button, .topBar-navbar a.active .topBar-button { border-right-color: #2f86d3; background-color: #4d9de4; }
.topBar-navbar .topBar-button .icon { background: url(../../images/renovation-bg.png) -1306px -177px no-repeat; width: 21px; height: 16px; display: inline-block; vertical-align: -3px; margin-right:3px; }
.topBar-navbar .topBar-button .icon.rapidSite { width: 20px;margin-left: -1px;background-position: -3px -126px;}
.topBar-navbar .topBar-button .icon.settingDesign { background-position: -2px -171px; height: 18px; }
.topBar-navbar .topBar-button .icon.settingManage { background-position: -2px -192px }
.topBar-navbar .topBar-button .icon.settingClassify { background-position: -5px -212px }
.topBar-navbar .topBar-button .icon.settingPortal { background-position: -5px -146px; }
a.styleDesignBtn { width: 20px; height: 20px; cursor: pointer; margin-top: -2px; z-index: 9030; background: url(../../images/renovation-bg.png) no-repeat -479px -229px; display: inline-block; vertical-align: middle; margin-left:10px;}
a.styleDesignBtn.styleDesignArrowUp { background-position: -451px -229px }
a.styleDesignBtn.styleDesignArrowUp:hover { background-position: -479px -229px }
a.styleDesignBtn.styleDesignArrowDown { background-position: -451px -205px }
/*顶部topbar右侧按钮样式*/
.topBar-navbar-r { float: right; }
.page-operation-btns a.page-btn { display: inline-block; position: relative; mmargin-right: 10px; text-align: center; color: #666; text-decoration: none; margin-right: 5px; width: 60px; height: 28px; line-height: 28px; background: url(../../images/renovation-bg.png) no-repeat -125px -1px; font-size: 12px; margin-top: -2px; }
.page-operation-btns a.page-btn:hover { background-position: -125px -88px }
.page-operation-btns a:last-child { margin-right: 0px; }
.page-operation-btns a.page-btn.page-publish-btn { width: 102px; font-weight: bold; background-position: -2px -1px; text-align: left; }
.page-operation-btns a.page-btn.page-publish-btn:hover { background-position: -1px -88px; }
.page-operation-btns a.page-btn.page-publish-btn i { float: left; display: inline-block; width: 15px; height: 28px; line-height: 28px; margin-left: 21px; background: url(../../images/renovation-bg.png) no-repeat -197px 4px; margin-right: 7px; }
.page-operation-btns a.styleDesignBtn { width: 20px; height: 20px; cursor: pointer; margin-top: -2px; z-index: 9030; background: url(../../images/renovation-bg.png) no-repeat -479px -229px; display: inline-block; vertical-align: middle; }
.page-operation-btns a.styleDesignBtn.styleDesignArrowUp { background-position: -451px -229px }
.page-operation-btns a.styleDesignBtn.styleDesignArrowUp:hover { background-position: -479px -229px }
.page-operation-btns a.styleDesignBtn.styleDesignArrowDown { background-position: -451px -205px }
.page-operation-btns a.styleDesignBtn.styleDesignArrowDown:hover { background-position: -479px -205px}
/*顶部展开内容*/
.quickDress { background-color: #f7f7f7; width: 100%; overflow: hidden; margin-top: -10px; border-bottom: 2px solid #B7C7D6; height: 110px; transition: all 0.2s ease 0s; }
.quickDress.hide { transition: all 0.2s ease 0s; height: 0px }
.quickDress .panel { width: 960px; padding-top: 10px; margin: 0px auto; height:100%; }
/*左侧浮动模块管理*/
/*左侧浮动按钮*/
.panelIconContainer { width: 59px; position: absolute; z-index: 9030; left: 56px; top: 40%; cursor: move; }
.floatPanelIconBox { width: 100%; height: 64px; }
.floatPanelIconBox a { display: block; width: 100%; height: 100%; background: url(../../images/renovation-bg.png) no-repeat; }
.floatPanelIconBox:first-child { padding: 0 0 15px 0; }
.floatPanelIconBox a.floatPanel-addNewModule { background-position: -29px -126px; }
.floatPanelIconBox a.floatPanel_setSiteStyle { background-position: -110px -126px; }
/*左侧浮动面板*/
.floatPanel { width: 340px; color: #000; font-size: 12px; border: 0; border-right: 1px solid #517aa6; overflow: hidden; background: #fff; position: fixed; _position: absolute; z-index: 99999; opacity: 1; top: 44px; height: 100%; left: -350px; }
.floatPanelNav ul { float: left; overflow: hidden; }
.floatPanelNav li {/*width: 101px;*/ width: 152px; color: #000; border-right: 1px solid #7aacd7; float: left; overflow: hidden; }
.floatPanelNav li a { display: block; height: 38px; line-height: 38px; text-align: center; outline: 0; font-weight: bold; text-decoration: none; background: #4188c6; position: relative; }
.floatPanelNav li.active a { background: #f7f7f7 }
.floatPanelNav li a i, .floatPanel_closeBtn a i { background: url(../../images/renovation-bg.png) no-repeat -5px -250px; width: 20px; height: 20px; display: block; margin: 0px; position: absolute; left: 50%; margin-left: -10px; top: 50%; margin-top: -10px; }
.floatPanelNav li a.addModule i { background-position: -30px -250px }
.floatPanelNav li a.sectionModule i { background-position: -31px -345px }
.floatPanelNav li a.setSiteStyle i { background-position: -30px -277px }
.floatPanelNav li.active a.addModule i { background-position: -5px -250px }
.floatPanelNav li.active a.sectionModule i { background-position: -7px -345px }
.floatPanelNav li.active a.setSiteStyle i { background-position: -5px -277px }
/*关闭按钮*/
.floatPanel_closeBtn { width: 34px; height: 100%; float: left; position: relative; }
.floatPanel_closeBtn a { display: block; width: 100%; height: 38px; background: #4188c6; }
.floatPanel_closeBtn:hover a { background: #3577bb; }
.floatPanel_closeBtn a i { background: url(../../images/renovation-bg.png) no-repeat -29px -300px }

/*页面内容main样式*/
.module-main { height: auto; min-height: 0; margin: 50px 0 0; overflow-x: auto;  }

/*.module-main { position: absolute; height: auto; min-height: 0; left: 0; right: 0; bottom: 0; margin: 0; overflow-x: auto; overflow-y: scroll; }*/
.module-main.unfold { top: 44px; transition: all 0.2s ease 0s; }
.module-main.fold { top: 154px; transition: all 0.2s ease 0s; }
/*鼠标放在页面显示的存放位置样式*/
.position-box {border: 1px dashed #2D96FF; height: 160px; width:1210px; margin:10px auto; background:#CBE3FB url(../../images/placeholder_bg.png) no-repeat top left; display:block;}
.position-box span { text-align: center; margin: 45px auto; color: #2D93FF; display: block }
.nav-position-box {border: 1px dashed #2D96FF; height: 250px; width:220px; margin:10px auto; background:#CBE3FB url(../../images/placeholder_bg_nav.png) no-repeat top left; display:block;}
.nav-position-box span { text-align: center; margin: 0px auto; color: #2D93FF; display: block }
/*模板色彩风格样式*/
.templates-board-style li { line-height: 24px; width: 24px; height: 24px; padding: 24px 0 0 0; margin-right: 14px; float: left; position: relative; cursor: pointer; }
.templates-board-style li em { display: block; width: 24px; height: 24px; position: absolute; z-index: 1; top: 0; left: 0; border-radius: 4px; }
.templates-board-style li i { font-size: 14px; line-height: 24px; color: #FFF; display: none; position: absolute; z-index: 9; top: 0; left: 6px; margin: 0; }
.templates-board-style li.selected i { display: block; }
.templates-board-style li.red { color: #C1392B; }
.templates-board-style li.red em { background-color: #C1392B; }
.templates-board-style li.pink { color: #FF7373; }
.templates-board-style li.pink em { background-color: #FF7373; }
.templates-board-style li.orange { color: #E77E23; }
.templates-board-style li.orange em { background-color: #E77E23; }
.templates-board-style li.green { color: #27AE61; }
.templates-board-style li.green em { background-color: #27AE61; }
.templates-board-style li.blue { color: #3598DC; }
.templates-board-style li.blue em { background-color: #3598DC; }
.templates-board-style li.purple { color: #9C59B8; }
.templates-board-style li.purple em { background-color: #9C59B8; }
.templates-board-style li.brown { color: #8C4600; }
.templates-board-style li.brown em { background-color: #8C4600; }
.templates-board-style li.default { color: #79796A; }
.templates-board-style li.default em { background-color: #79796A; }

/*右侧模板设置*/
.helper-icon{ }
.helper-icon i.fa{margin: auto auto 5px auto !important;}
.helper-wrap .panel-body ul li { padding:2px 0px 0px!important;}
.helper-wrap .panel-body ul li a.title{padding: 2px 10px 2px 25px; width:auto;}
.helper-wrap .panel-body ul li em { position:absolute; left:90px; color:red; font-size:7pt }
.helper-wrap .panel-body ul li a.handle { color:#fff; background:#4291D7; width:23.3%; text-align:center; float:left; display:none;border-right: 1px solid #2f86d3; border-left: 1px solid #62a4de;}
.helper-wrap .panel-body ul li a.handle:hover{border-right-color: #2f86d3;background-color: #4d9de4;}
.helper-wrap .panel-body ul li a.handle i.fa { color:#fff; margin:0;}
.helper-wrap .panel-body ul li.selected a.handle{ display:inline-block;}

.modal-body { padding: 15px; }
.modal-body .btn.btn-primary { line-height: 20px;}
.modal-body .simple-form-field .btn { line-height: 16px !important; }
.modal-body .goods-gallery .nav .btn.btn-sm { padding: 5px 9px !important; }
.modal-body .choose-goods-list .btn.btn-xs { padding: 1px 4px !important; font-size: 11px !important; }

.backend-form-login { width:250px !important;}
.layer-anim .layui-layer-content .table-content.m-t-10{overflow: hidden;}
.backend-form-login .form-group .form-control-box input { width:208px !important}
.backend-form-login .form-group .form-control-box input.form-control.w100{ width:100px !important}
