@charset "utf-8";
/* ================================ */
/* 商城前台购买\购物车等页面相关样式		*/
/* ================================ */

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.ws0 {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
}

/* 表单项属性
------------------------------------------- */
input[type="text"], input[type="password"], input.text, input.password {
    font: 12px/20px Tahoma;
    color: #777;
    background-color: #FFF;
    vertical-align: middle;
    display: inline-block;
    height: 26px;
    padding: 2px 4px;
    border: solid 1px #CCC;

}

input[type="text"]:focus, input.text:focus, textarea:focus {
    color: #333;
    border-color: #cfd2d5;
    outline: 0 none;
}

input[type="text"].error, input[type="password"].error, textarea.error {
    border-color: #ED6C4F;
    box-shadow: 0 0 0 2px rgba(232, 71, 35, 0.15);
    outline: 0 none;
}

textarea, .textarea {
    font: 12px/20px Tahoma;
    color: #777;
    background-color: #FFF;
    vertical-align: top;
    display: inline-block;
    height: 60px;
    padding: 4px;
    border: solid 1px #CCC;
    outline: 0 none;
}

select {
    color: #777;
    background-color: #FFF;
    vertical-align: middle;
    display: inline-block;
    height: 26px;
    padding: 4px;
    border: solid 1px #CCC;
}

select option {
    line-height: 20px;
    height: 20px;
}

input[type="radio"], .radio {
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

/*表单验证错误提示文字*/
label.error {
    font-size: 12px;
    color: #E84723;
    margin-left: 8px;
}

label.error i {
    margin-right: 4px;
}

/* 按钮
-------------------------------------------*/
a.slds-btn-mini {
    font: normal 12px/27px arial, "microsoft yahei";
    color: #777;
    background-color: #F5F5F5;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 27px;
    padding: 2px 10px;
    margin-right: 2px;
    cursor: pointer;
}

a:hover.slds-btn-mini {
    text-decoration: none;
    color: #333;
    background-color: #E6E6E6;
    border-color: #CFCFCF #CFCFCF #B3B3B3 #CFCFCF;
}

a.slds-btn {
    font: normal 14px/26px "microsoft yahei";
    color: #fff;
    background-color: #ee484c;
    border-color: #ee484c;
    text-align: center;
    display: inline-block;
    height: 26px;
    padding: 15px 33px;
    cursor: pointer;
    border-radius: 0px;
    font-weight: 700;
    letter-spacing: 1px;
}

#next_submit {
    border-radius: 0;
    height: 42px;
    line-height: 42px;
}

a:hover.slds-btn {
    text-decoration: none;
    color: #fff;
    background-color: #ffbb32;
    border-color: #fd6b63;
}

a.slds-btn-mini i, a.slds-btn i {
    margin-right: 4px;
}

a.slds-btn-acidblue, a.slds-btn-green, a.slds-btn-orange, a.slds-btn-red,
a:hover.slds-btn-acidblue, a:hover.slds-btn-green, a:hover.slds-btn-orange, a:hover.slds-btn-red {
    color: #FFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.10);
}

a.slds-btn-acidblue {
    background-color: #ffbb32;
    border-color: #ffbb32;
}

a.slds-btn-green {
    background-color: #9bde56;
    border-color: #9bde56;
}

a.slds-btn-orange {
    background-color: #FAA732;
}

a.slds-btn-red {
    background-color: #4cc9ff;
    border-color: #4cc9ff;
}
a.slds-btn-gray {
    background-color: #4cc9ff;
    border-color: #4cc9ff;
}


a:hover.slds-btn-acidblue {
    background-color: #ffbb32;
    border-color: #ffbb32;
}

a:hover.slds-btn-green {
    background-color: #51A351;
    border-color: #499249 #499249 #3D7A3D #499249;
}

a:hover.slds-btn-orange {
    background-color: #F89406;
    border-color: #DF8505 #DF8505 #BA6F04 #DF8505;
}

a:hover.slds-btn-red {
    background-color: #ffbb32;
    border-color: #ffbb32;
}

/* 购物车头部内容
------------------------------------*/
.slds-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.slds-head-layout {
    display: block;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
}

.slds-head-layout .site-logo {
    float: left;
    width: 240px;
    height: 60px;
    margin: 20px 0;
}

.slds-head-layout .site-logo a {
    display: block;
}

.slds-head-layout .site-logo img {
    max-width: 240px;
    max-height: 60px;
}

/* 步骤 */
.slds-flow {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
    width: 640px;
    height: 70px;
    float: right;
    margin: 15px 0;
}

.slds-flow li {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 25%;
    height: 70px;
    position: relative;
    z-index: 1;
}

.slds-flow li {
    *display: inline /*IE6,7*/;
}

.slds-flow li i.step1 {
    background-position: 0 0;
}

.slds-flow li i.step2 {
    background-position: -30px 0;
}

.slds-flow li i.step3 {
    background-position: -60px 0;
}

.slds-flow li i.step4 {
    background-position: -90px 0;
}

.slds-flow li p {
    font-size: 14px/24px arial, "microsoft yahei";
    color: #CCC;
    text-align: center;
    width: 100%;
    height: 24px;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.slds-flow li sub {
    background-color: #FFF;
    width: 5px;
    height: 5px;
    margin-left: -3px;
    border: solid 1px #CCC;
    border-radius: 4px;
    position: absolute;
    z-index: 2;
    top: 38px;
    left: 50%;
}

.slds-flow li .hr {
    *line-height: 1px;
    background-color: #DDD;
    width: 100%;
    height: 1px;
    border: none 0;
    position: absolute;
    z-index: 1;
    top: 29px;
    left: 0;
}

.slds-flow li.current i.step1 {
    background-position: 0 -30px;
}

.slds-flow li.current i.step2 {
    background-position: -30px -30px;
}

.slds-flow li.current i.step3 {
    background-position: -60px -30px;
}

.slds-flow li.current i.step4 {
    background-position: -90px -30px;
}

.slds-flow li.current p {
    color: #27A9E3;
}

.slds-flow li.current sub {
    background-color: #27A9E3;
    border-color: #27A9E3;
    box-shadow: 0 0 0 2px rgba(0, 153, 204, 0.15);
}

.slds-flow li.current .hr {
    background-color: #27A9E3;
}

/*购物车为空
-----------------------------------*/
.slds-null-shopping {
    width: 228px;
    height: 300px;
    margin: 40px auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.slds-null-shopping i.ico {
    background: url(../images/buy/cart.png) no-repeat 0 0;
    width: 231px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.slds-null-shopping i.ico-gift {
    background: url(../images/buy/gift.png) no-repeat 0 0;
    width: 180px;
    height: 180px;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.slds-null-shopping h4 {
    font: lighter 22px/30px "microsoft yahei";
    color: #777;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 0px;
}

.slds-null-shopping p {
    position: absolute;
    z-index: 1;
    top: 243px;
    left: 0px;
}

.slds-null-shopping p i {
    font-size: 14px;
    margin-right: 6px;
}

/* 购物车内容部分
-----------------------------------*/
.slds-main {
}

.slds-title {
    height: 35px;
    padding: 15px 0 0;
    border: solid #F7F7F7;
    border-width: 1px 0 0;
}

.slds-title h3 {
    font: 16px/30px "microsoft yahei";
    color: #555;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}

.slds-title h5 {
    font: 12px/20px arial, "microsoft yahei";
    color: #AAA;
}

.slds-title h5 a {
    color: #27A9E3;
}

.slds-table-style {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px
}

.slds-table-style thead th {
    line-height: 20px;
    color: #666;
    background-color: #F9F9F9;
    text-align: center;
    height: 20px;
    padding: 10px;
}

.slds-table-style tbody th {
    font-size: 12px;
    line-height: 20px;
    color: #333;
    height: 20px;
    background-color: #FFF;
    padding: 20px 10px 5px;
    text-align: left
}

.slds-table-style tbody th .store-sale {
    font-size: 12px;
    display: inline-block;
    float: right;
}

.slds-table-style tbody th .store-sale em {
    font-size: 12px;
    line-height: 14px;
    color: #FFF;
    background-color: #ffbb32;
    vertical-align: middle;
    display: inline-block;
    height: 14px;
    padding: 2px 5px;
    border-radius: 4px;
    margin-right: 4px;
}

.slds-table-style tbody tr td {
    background-color: #FFF;
    padding: 15px 10px;
    text-align: center;
    border-top: solid 1px #DDD;
    vertical-align: middle
}

.slds-table-style tbody tr .td-border-left {
    border-left: solid 1px #DDD
}

.cart_num_input {
    text-align: center;
}

.slds-table-style tbody tr.shop-list td {
    background-color: #FEFEFE;
}

.slds-table-style tbody tr td.pd-account {
    border: 1px dotted #FFAA01;
}

.slds-table-style tfoot td {
    background: #F9F9F9;
    text-align: right;
    height: 30px;
    padding: 0;
}

.slds-table-style .goods-subtotal {
    font-family: Helvetica;
    color: #333;
    font-weight: 700;
    line-height: 24px;
    display: block;
}

.slds-table-style tbody .td-border-right {
    border-right: solid 1px #DDD;
}

.slds-table-style a {
    color: #fff;
}

.slds-table-style a:hover {
    color: #ffbb32;
}

.slds-table-style i { /*margin-right: 4px;*/
}

a#next_submit {
    color: #fff !important;
}

a#next_submit:hover {
    color: #fff !important;
}

.slds-table-style .slds-goods-thumb {
    line-height: 0;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 80px;
    height: 80px;
    border: solid 1px #F5F5F5;
    overflow: hidden;
}

.slds-table-style .goods-price {
    font-family: Tahoma;
    font-weight: 500;
    color: #333;
    line-height: 24px;
    display: block;
}

.slds-table-style .slds-goods-thumb img {
    width: 80px;
    height: 80px;
    margin-top: expression(40-this.height/2);
    *margin-top: expression(20-this.height/2) /*IE6,7*/;
}

.slds-table-style .slds-goods-info {
    display: block;
    height: 42px;
}

.slds-table-style .slds-goods-info dt {
    line-height: 20px;
    height: 40px;
}

.slds-table-style .slds-goods-info dd {
    line-height: 16px;
    color: #999;
    height: 16px;
    margin-top: 6px;
}

.slds-table-style .slds-goods-info dd span.xianshi, .slds-table-style .slds-goods-info span.zengpin {
    color: #FFF;
    background-color: #28B779;
    padding: 1px 4px;
    font-size: 12px;
}

.slds-table-style .slds-goods-info dd span.xianshi strong {
    font-size: 14px;
    font-weight: 600;
    margin: 0 2px;
}

.slds-table-style .slds-goods-info dd span.xianshi em {
    color: #FF0;
    margin: 0 2px;
}

.slds-table-style .slds-goods-info dd span.tuan, .slds-table-style .slds-goods-info span.buldling {
    color: #FFF;
    background-color: #DA542E;
    padding: 1px 4px;
}

.slds-table-style a.add-substract-key {
    font: 14px/30px Arial;
    color: #555;
    text-decoration: none;
    background-color: #F5F5F5;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 30px;
    cursor: pointer;
}

.slds-table-style a:hover.add-substract-key {
    color: #FFF;
    background-color: #ffbb32;
    border-color: #ffbb32;
    text-decoration: none;
}

.slds-bottom {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
}
.slds-store-sale.ms:hover .combobox{
    display: block;
}
.slds-store-sale.ms .combobox{
    display: none;
    position: absolute;
    top: 24px;
    left: -1px;
    background: #fff;
    right: -1px;
    border: dotted 1px #ffbb32;
    border-top: none;
}
.slds-store-sale.ms .combobox .combobox-list{
    padding-left: 5px;
}
.slds-table-style .slds-store-sale {
    font-size: 12px;
    line-height: 24px;
    vertical-align: top;
    display: inline-block;
    padding-right: 8px;
    border: dotted 1px #ffbb32;
    margin-left: 20px;
    position: relative;
    z-index: 1;
}

.slds-table-style .slds-store-sale span {
    color: #FFF;
    background-color: #ffbb32;
    vertical-align: top;
    display: inline-block;
    height: 24px;
    padding: 0 5px;
    margin-right: 8px;
}

.slds-receipt-info {
    color: #777;
    padding: 9px 19px;
    border: solid 1px #f0f0f0;
    border-top: none;
}
.recive_address{border-top: solid 1px #f0f0f0;}

.slds-receipt-info-title {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
    display: block;
    height: 22px;
    padding: 4px 0;
}

.slds-receipt-info-title h3,
.slds-receipt-info-title a {
    font: 14px/20px arial, "microsoft yahei";
    color: #333;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    font-weight: bold;
}
.slds-candidate-items{padding-left: 20px;}
.slds-receipt-info-title a {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #27A9E3;
    margin-left: 10px;
}

.slds-receipt-info-title h3, .slds-receipt-info-title a {
    *display: inline /*IE6,7*/;
}

.slds-receipt-info-title h3 strong {
    font: bold 18px/20px Verdana;
    color: #ffbb32;
    margin-left: 4px;
}

.slds-receipt-info.current_box {
    color: #534535;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#3FFFF5CC', endColorstr='#3FFFF5CC');
    background: #fff;
    padding: 7px 17px;
}

/* 表单提交样式 */
.slds-form-default {
}

.slds-form-default dl {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
    line-height: 20px;
    clear: both;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.slds-form-default dl:hover {
    background-color: #fff3f3;
}

.slds-form-default dl:hover .hint {
    color: #666;
}

.slds-form-default dl.bottom {
    border-bottom-width: 0px;
}

.slds-form-default dl dt {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: right;
    display: inline-block;
    width: 15%;
    padding: 10px 1% 10px 0;
    margin: 0;
}

.slds-form-default dl dt {
    *display: inline /*IE6,7*/;
}

.slds-form-default dl dt i.required {
    font: 12px/16px Tahoma;
    color: #F30;
    vertical-align: middle;
    margin-right: 4px;
}

.slds-form-default dl dd {
    font-size: 12px;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    width: 84%;
    padding: 10px 0 10px 0;
}

.slds-form-default dl dd {
    *display: inline /*IE6,7*/;
}

.slds-form-default dl dd p {
    clear: both;
}

.slds-form-default dl dd select {
    margin-right: 5px;
}

/* 收货人信息 */
.slds-candidate-items ul {
    overflow: hidden;
}

.slds-candidate-items li {
    line-height: 20px;
    display: block;
    min-height: 20px;
    padding: 10px 0 11px 0;
    margin-top: -1px;
    border-top:solid 1px #f0f0f0;
}

.slds-candidate-items input[type="radio"],
.slds-candidate-items .radio,
.slds-candidate-items label,
.slds-candidate-items a {
    font-size: 12px;
    vertical-align: middle;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
}

.slds-candidate-items .radio,
.slds-candidate-items label,
.slds-candidate-items a {
    *display: inline-block /*IE6,7*/;
    zoom: 1;
}

.slds-candidate-items input[type="radio"],
.slds-candidate-items .radio {
    margin: 0 5px;
}

.slds-candidate-items label {
    line-height: 20px;
    display: inline-block;
}

.slds-candidate-items span {
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    height: 20px;
}

.slds-candidate-items .true-name {
    font-weight: 600;
    margin-right: 10px;
}

.slds-candidate-items .address {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 500px;
    margin-right: 20px;
    overflow: hidden;
}

.slds-candidate-items .phone {
    margin-right: 20px;
}

.slds-candidate-items label i {
    font-size: 14px;
    margin-right: 2px;
}

.slds-candidate-items .del {
    color: #005ea7;
}

.slds-selected-item {
    background-color: #fff3f3;
    font-size: 12px;
}

/* 支付方式 */
.slds-offpay-list {
    padding: 0 15px;
}

.slds-offpay-list:hover {
    background-color: #FFFDEE;
}

.slds-offpay-list dt {
    font: 12px/20px arial, "microsoft yahei";
    color: #333;
    height: 20px;
    padding: 10px 0;
}

.slds-offpay-list dt strong {
    font-size: 14px;
    font-weight: 600;
    color: #F30;
    margin: 0 2px;
}

.slds-offpay-list dd {
    border-bottom: dotted 1px #E7E7E7;
}

.slds-offpay-list ul {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
    width: 350px;
    display: inline-block;
    *display: inline /*IE7*/;
    zoom: 1;
}

.slds-offpay-list ul li {
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: right;
    display: inline-block;
    *display: inline /*IE7*/;
    width: 42px;
    height: 42px;
    margin: 0 8px 8px 0;
    zoom: 1;
}

.slds-offpay-list ul li span {
    line-height: 0;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 40px;
    height: 40px;
    border: solid 1px #CCC;
    overflow: hidden;
}

.slds-offpay-list ul li span img {
    max-width: 40px;
    max-height: 40px;
    margin-top: expression(40-this.height/2);
    *margin-top: expression(20-this.height/2) /*IE6,7*/;
}

.slds-offpay-list label {
    display: inline-block;
    *display: inline /*IE7*/;
    zoom: 1;
    margin: 15px;
    vertical-align: top;
}

.slds-payment-showgoods-list {
    line-height: 20px;
    color: #005EA7;
    display: inline-block;
    padding: 0 5px;
}

.slds-payment-showgoods-list:hover {
    text-decoration: none;
    color: #FFF;
    background: #D93600;
}

.slds-payment-showgoods-list i {
    font-size: 14px;
    margin-right: 4px;
}

.slds-payment-showgoods-list {
    background-color: #FFF9D4;
    display: none;
    width: 270px;
    border: solid 1px #FEC500;
    position: absolute;
    z-index: 99;
}

.slds-payment-showgoods-list dl {
    display: block;
    clear: both;
    padding: 0 10px 5px 10px;
    overflow: hidden;
}

.slds-payment-showgoods-list dt {
    font-weight: 600;
    line-height: 20px;
    color: #D93600;
    display: block;
    border-bottom: dotted 1px #FEC500;
    margin-top: 5px;
}

.slds-payment-showgoods-list dd {
    display: block;
    margin-top: 3px;
}

.slds-payment-showgoods-list .goods-thumb {
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: right;
    display: inline-block;
    *display: inline /*IE7*/;
    width: 32px;
    height: 32px;
    margin: 0 3px 3px 0;
    zoom: 1;
}

.slds-payment-showgoods-list .goods-thumb span {
    line-height: 0;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 30px;
    height: 30px;
    float: left;
    border: solid 1px #FEC500;
    overflow: hidden;
}

.slds-payment-showgoods-list .goods-thumb span img {
    max-width: 30px;
    max-height: 30px;
    margin-top: expression(30-this.height/2);
    *margin-top: expression(15-this.height/2) /*IE6,7*/;
}

.slds-table-style td h3 {
    float: left;
    width: 340px;
    font-size: 12px;
    font-weight: normal;
    padding-left: 20px;
}

.slds-table-style td h3 a {
    display: block;
    margin-bottom: 5px;
    color: #333;
    text-decoration: none;
}

.slds-table-style td h3 a:hover {
    color: #c00;
    text-decoration: underline;
}

.slds-table-style td h3 .attr {
    color: #b4b4b4;
    background-image: none;
}

.slds-store-account {
    margin: 0 20px 0 0;
}

.slds-store-account dl {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
}

.slds-store-account dl dt, .slds-store-account dl dd {
    font: normal 12px/28px Verdana, Arial;
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline;
    text-align: right;
    width: 100px;
    height: 28px;
    *zoom: 1;
}

.slds-store-account dl dt {
    color: #333;
    width: 300px;
}

.slds-store-account dl.freight dt, .slds-store-account dl.freight dd {
    color: #999;
}

.slds-store-account dl.total dt {
    color: #37839A;
    font-weight: 600;
}

.slds-store-account dl.mansong dt {
    color: #688e41;
}

.slds-store-account dl.mansong dt a {
    color: #393;
    text-decoration: underline;
}

.slds-pd-account {
    color: #333;
    background-color: #FFF9ED;
    text-align: right;
    padding: 8px;
}

.slds-pd-account em {
    font-weight: 600;
    font-size: 12px;
    font-family: Verdana, Arial;
    color: #000;
    margin: 0 5px;
}

.slds-all-account {
    font: normal 12px/52px "microsoft yahei", Arial;
    color: #333;
    vertical-align: top;
    display: inline-block;
    height: 52px;
    margin-right: 10px;
}

.slds-all-account em {
    font-size: 22px;
    color: #ffbb32;
    margin: 0 5px;
}

/*支付方式*/
.slds-payment-list {
    font-size: 0;
    *word-spacing: -1px /*IE6、7*/;
}

.slds-payment-list li {
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    display: inline-block;
    width: 120px;
    padding: 10px 30px;
    margin: 11px;
    border: solid 1px #E6E6E6;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}

.slds-payment-list li i {
    display: none;
}

.slds-payment-list li label {
    display: block;
    cursor: pointer;
}

.slds-payment-list li:hover,
.slds-payment-list li.using {
    border: solid 2px #52A452;
    margin: 10px;
}

.slds-payment-list li.using i {
    background: url(../images/buy/pay-use.png) no-repeat 0 0;
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 0px;
}

.slds-payment-list li .logo {
    line-height: 0;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 120px;
    height: 50px;
    overflow: hidden;
}

.slds-payment-list li .logo img {
    max-width: 120px;
    max-height: 50px;
    margin-top: expression(50-this.height/2);
    *margin-top: expression(25-this.height/2) /*IE6,7*/;
}

.slds-payment-list li .predeposit {
    display: block;
    clear: both;
    margin-top: 10px;
}

.slds-payment-list li .predeposit p {
    font: 12px/18px "microsoft yahei";
    color: #D93600;
    text-align: left;
    margin-top: 5px;
}

/*支付完成回执*/
.slds-finish-a {
    font: 18px/32px "microsoft yahei";
    height: 32px;
    margin-top: 20px;
}

.slds-finish-a i {
    background: url("../images/buy/pay-use.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    width: 32px;
    height: 32px;
}

.slds-finish-a span {
    font-weight: 600;
    color: #52A452;
    margin: 0 4px;
}

.slds-finish-a em {
    font: bold 18px/32px Verdana, Geneva, sans-serif;
    color: #ffbb32;
    margin: 0 4px;
}

.slds-finish-b, .slds-finish-c {
    font: 14px/30px "microsoft yahei";
    color: #999;
    margin: 5px 0 0 35px;
}

.slds-finish-b a {
    color: #27A9E3;
}

.slds-finish-c i {
    font-size: 14px;
    margin-right: 2px;
}

.voucher_list {
    margin-bottom: 20px;
}

table.voucher_list {
    margin: 0 auto 30px auto;
    border: 1px solid #C2C8CF;
}

table.voucher_list {
    border-bottom-width: 0;
}

table.voucher_list td {
    font-size: 12px;
    line-height: 20px;
    padding: 6px 10px;
    border-bottom: 1px solid #C2C8CF;
}

table.voucher_list td.radio {
    color: #3E4646;
    text-align: right;
    width: 10%;
}

table.voucher_list td.fashion {
    color: #3E4646;
    width: 15%;
}

table.voucher_list td.pay {
    color: #3E4646;
    background: #F3F3F3;
    width: 25%;
}

table.voucher_list td.explain {
    color: #9499A3;
    width: 50%;
}

.nopay {
    line-height: 20px;
    background-color: rgb(254, 243, 224);
    float: left;
    color: #C30;
    margin-left: 60px;
    _margin-left: 30px;
    height: 20px;
    padding: 6px 12px;
    border: 1px solid #fbd0aa;
}

.nopay a {
    font-weight: 600;
    color: #06C;
}

/* 满即送活动 */
.jmys-mansong {
    background-color: #F7F7F7;
    border: solid 1px #D8D8D8;
    padding: 4px;
}

.jmys-mansong-container {
    background-color: #FFF;
    padding: 10px 10px 10px 80px;
    margin: 0;
    position: relative;
    z-index: 1;
}

.jmys-mansong-container:hover {
    background-color: #F7F7F7;
}

.jmys-mansong-ico {
    background: url(../images/shop/public.png) no-repeat scroll -590px -240px;
    display: block;
    width: 50px;
    height: 60px;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
}

.jmys-mansong-content {
}

.jmys-mansong-content dt {
}

.jmys-mansong-content dt h3 {
    color: #555;
    line-height: 24px;
    display: inline-block;
}

.jmys-mansong-content dt time {
    color: #999;
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}

.jmys-mansong-remark {
    color: #999;
    line-height: 24px;
}

.jmys_store_name {
    font-size: 14px;
    line-height: 26px;
    vertical-align: top;
    display: inline-block;
}

.tabs-hide {
    display: none !important;
}

/* 积分兑换商品
------------------------------------------- */
.slds-point-flow {
    position: absolute;
    z-index: 1;
    top: -100px;
    right: 0;
}

.slds-point-flow li {
    width: 33.3333% !important;
}

.del_cart_good, .colletc_cart_good {
    display: block;
    text-align: left;
}

.del_cart_good {
    margin-top: 10px;
}

.jmys_store_name {
    font-size: 14px;
    font-weight: 700;
}

.slds-goods-info a {
    color: #333;
    height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: normal;
}
.order_has_pay{border-top: 1px solid #f0f0f0}

/*商品详情页 地区三级联动选择*/
#regionss{display: inline-block;border: 1px solid #eee;}
#regionss select{border: none;}
#regionss select option{float: left;}
.jmyss-freight-select {
    height: 28px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    z-index: 10;
    font-size: 12px;
}
.jmyss-freight-select .text {
    line-height: 26px;
    background-color: #FFF;
    height: 26px;
    float: left;
    padding: 0 20px 0 15px;
    border: solid 1px #E6E6E6;
    position: relative;
    z-index: 1;
    overflow: hidden;
    cursor: pointer;
}
.jmyss-freight-select .text b {
    font-size: 0;
    line-height: 0;
    background: url(../images/shop/sld_jmyss_public_img.png) no-repeat -50px -100px;
    display: block;
    width: 8px;
    height: 4px;
    position: absolute;
    top: 10px;
    right: 6px;
    overflow: hidden;
}
.jmyss-freight-select .content {
    background-color: #FFF;
    display: none;
    width: 482px;
    padding: 0;
    border: 1px solid #D7D7D7;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.jmyss-freight-select .jmyss-stock {
    position: relative;
}
.jmyss-freight-select .jmyss-stock .tab {
    background-color: #FAFAFA;
    width: 100%;
    height: 26px;
    float: left;
    border-bottom: solid 1px #E6E6E6;
    overflow: visible;
}
.jmyss-freight-select .jmyss-stock .tab li {
    float: left;
    clear: none;
    padding: 0;
}
.jmyss-freight-select .jmyss-stock .tab .current a.hover, .jmyss-freight-select .jmyss-stock .tab a {
    font-size: 12px;
    line-height: 26px;
    color: #999;
    text-align: center;
    float: left;
    height: 26px;
    padding: 0 15px 0 15px;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #eee;
    position: relative;
    cursor: pointer;
    -moz-border-colors: none;
}
.jmyss-freight-select .jmyss-stock .tab a{
    line-height: 26px;
    color: #000;
    text-decoration: none;
    background-color: #FFF;
    height: 26px;
    padding: 0 15px 1px 15px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 0 1px 0 0;
    /*display: none;*/
}
.jmyss-freight-select .jmyss-stock .tab a.hover{display: inline-block;}
.jmyss-freight-select .jmyss-stock .tab a i {
    font-size: 0;
    line-height: 0;
    background: url(../images/shop/sld_jmyss_public_img.png) no-repeat -50px -100px;
    vertical-align: middle;
    display: inline-block;
    width: 8px;
    height: 4px;
    margin-left: 6px;
}
.jmyss-freight-select .jmyss-stock .area-list {
    display: block;
    clear: both;
    padding: 10px 15px;
    overflow: hidden;
}
.jmyss-freight-select .jmyss-stock .area-list li {
    line-height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 109px;
    height: 20px;
    padding: 4px 0 4px 4px;
    float: left;
    overflow: hidden;
}
.jmyss-freight-select .jmyss-stock .area-list li a {
    line-height: 16px;
    color: #555;
    padding: 2px 5px;
}
.jmyss-freight-select .close {
    font-size: 12px;
    line-height: 20px;
    display: none;
    width: 24px;
    height: 20px;
    position: absolute;
    z-index: 2;
    top: 4px;
    left: 450px;
    cursor: pointer;
}
.jmyss-freight-select.hover .close, .jmyss-freight-select.hover .content {
    display: block;
}
.jmyss-freight-select .jmyss-stock .area-list li a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #FF875A;
}

.iconfontfa{font-family: FontAwesome!important;}
.mendian {display: none;}
.mendian .lineh-2.mar_l a{ color: #ffbb32; }
.mendian .lineh-2.mar_l b{ font-weight: normal;}
.mendian .look_dians{ position: absolute; width: 291px; left:0; top: 62px; border: 1px #e2e2e2 solid; z-index: 999; background: #fff; box-shadow: 0 0 2px 1px rgba(0,0,0,0.1); border-radius: 3px; display: none; line-height: 1rem; }
.mendian .look_dians h2{ background: rgb(230,230,230); font-size: 12px; padding: 8px 13px; color: #333;}
.mendian .look_dians em { font-size: 13px; color: #333;}
.mendian .look_dians h2 i.iconfontfa { padding: 5px; cursor: pointer; transform:translateY(-4px) translateX(6px) }
.mendian .dians { max-height: 200px; overflow-y: auto; overflow-x: hidden; width: 100%; border-top: 1px #e2e2e2 solid;}
.mendian .dians > ul >  li { border-bottom: 1px #e2e2e2 solid;  padding: 10px 20px; position: relative; cursor: pointer;}
.mendian .dians > ul > li.on{ color:#ffbb32; }
.mendian .dians > ul >  li.no:after{ position: absolute; content: '配送地区不符合'; }
.mendian .dians > ul > li h3{ font-size: 13px; margin: 0; color: inherit; }
.mendian .dians > ul > li h4 { font-size: 12px !important; margin-top: 5px;}
.mendian .dians > ul > li b { margin-right: 5px;}
.mendian .dians > ul > li .i{ position: absolute; right: 10px; top:10px; color: #ffbb32; font-size: 12px; padding: 2px 4px;}
.mendian .dians > ul > li .i i { color: #ffbb32; font-size: 20px; vertical-align: top; }
.mendian .dians .pagination li:first-child,.mendian .dians .pagination li:last-child{ display: none; }
.mendian .dians .pagination li { display: inline-block;}
.mendian .dians .pagination { padding: 0 10px; text-align: center; width: 100%; box-sizing: border-box;}
.mendian .dian_selected{ border-radius: 3px; background: #fff; color: #ffbb32; border: 1px #ffbb32 solid; padding: 1px 4px; font-size: 12px;}

.slds-receipt-info .wq_tab { position: relative; }
.slds-receipt-info .wq_tab .slds-btn-mini { border:1px #e2e2e2 solid; border-radius: 4px;}
.slds-receipt-info .wq_tab .slds-btn-mini.on { background: #ffbb32;  color: #fff; }

.wai{ padding-right: 285px; height: 100%;}
#mapContainerdian h2{ font-size: 14px; padding: 5px; font-weight: bold;}
#mapContainerdian h4{ padding: 5px;}
#mapContainerdian p{ text-align: right}
#mapContainerdian .amap-marker-label{ width: 160px; white-space: normal; border-color:#4196FA;box-shadow: 1px 1px 10px 0 rgba(0,0,0,0.2);}
#paneldian {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 260px;
    z-index: 999;
    height: calc(100% - 20px);
    overflow-y: auto;
    width: 285px;
    padding: 10px;
    box-sizing: border-box;
}
#paneldian .amap-ui-markerlist-list-ele{ border-bottom: 1px dotted #ccc; padding: 5px 5px 5px 70px; cursor: pointer; position: relative;}
#paneldian .amap-ui-markerlist-list-ele:hover{ background: #f3f3f3;}
#paneldian .amap-ui-markerlist-list-ele .i{ text-align: right; margin-top: 5px; display: block; width: 100%; color: #666; font-size: 12px;}
#paneldian img{ position: absolute; height: 60px; width:60px; left: 0px; top: 10px; margin-right: 10px;}
#paneldian h2 {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#paneldian h4{
    font-size: 12px;
    color: #999;
    line-height: 18px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#paneldian .amap-ui-markerlist-list-ele.selected h2{ color: #ffbb32;}
/*积分中心购物车样式*/
.sld_point_cart.cart-empty {
    height: 98px;
    padding: 80px 0 120px;
    color: #333;
}
.sld_point_cart.cart-empty .message {
    height: 98px;
    padding-left: 341px;
    background: url(../images/shop/sld_cart_empty_icon.png) 250px 22px no-repeat;
}
.sld_point_cart.cart-empty .message ul {
    padding-top: 23px;
}
.sld_point_cart.cart-empty .message .txt {
    font-size: 14px;
}
.sld_point_cart.cart-empty .message li {
    line-height: 26px;
}
.sld_point_cart.cart-empty .message li {
    line-height: 26px;
}
.sld_point_cart.mt10 {
    margin-top: 10px;
}
.sld_point_cart .ftx-05, .sld_point_cart .ftx05 {
     color: #005ea7;
    font-size: 12px;
 }
#laji{ width: 1px; height: 1px; border: 0; padding: 0; position: absolute;  opacity: 0; }
.points_callback{ margin-top: 10px;}



.fred{ color:#ffbb32;}

.main{ width:600px; margin:10px auto; background:#FFFFFF; border:1px solid #efefef; padding:5px; border-radius:12px;}
.ddul{ list-style:none; margin:0; padding:0; width:80%; margin:0 auto;}
.ddul li{ margin-bottom:10px; padding:5px; font-size:16px; font-weight:bold; color:#585858; text-align:center;}
.ddul li .bt{ display:inline-block; width:80px; color:#bbb;}

.btndiv{ text-align:center; margin:20px auto; border-top:1px solid #efefef; padding-top:20px;}
.btncss{ 
    cursor: pointer;
    background: #ffbb32;
    border: 0;
    line-height: normal;
    border-radius: 4px;
    color: #fff;
    min-width: 220px;
    height: 46px;
    vertical-align: middle;
    font-size: 14px;
	font-weight:bold;
	margin:0 10px;
}
.btncss:hover{ 
    background: #ffbb32;
}

.smbg{ margin:0 auto; width:275px; height:180px; background:url(images/zfbg.gif) no-repeat; }
.smbg img{ width:160px; height:160px; margin-top:10px; margin-left:57px;}

.sl{ 	
	position: relative;
	height: 28px;
	color: #333;
	font-family: "微软雅黑";
	margin: 0;
	font-size: 14px;
	border:1px solid #efefef;
	border-radius:4px;
	width:100px;
	overflow:hidden;
	text-align:left;
	padding-top:2px;
	}
.btnhui {
	border: 0;
	width: 20px;
	height: 20px;
	background: url(../images/del.png) no-repeat 4px 2px;
	display: inline-block;
	cursor:pointer;
	margin:0;
	vertical-align:middle;
}

.btnadd {
	border: 0;
	width:20px;
	height: 20px;
	background: url(../images/add.png) no-repeat center;
	display: inline-block;
	cursor:pointer;
	 margin:0;
	 	vertical-align:middle;
}
.input_sl {
	border: 0;
	width: 48px;
	height: 22px;
	line-height: 22px;
	color: #00ae60;
	background: #fff;
	box-sizing:border-box;
	text-align: center;
	overflow:hidden;
	vertical-align: middle;
	border-radius:0px;
} 