html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color:#999999;
}

a,a:hover,a:active,a:visited,a:link,a:focus{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline:none;
	text-decoration: none;
}

html,body{
	width: 100%;
	font-size:14px;
	overflow-x:hidden;
}
html{
	scroll-behavior:smooth;}

body{
	font-family: "Microsoft YaHei";
	position: relative;
	color: #666;
}



h1{font-size:1.6rem}
h2{font-size:1.4rem}
h3{font-size:1.25rem}
h4{font-size:1.125rem}
h5{font-size:1rem}
h6{font-size:.875rem; }
em,i{font-style: normal;}
ol,li{list-style: none;}
img{border: 0px none;}
body{ background: #fafafa; }

input[type="text"] {
	-webkit-appearance: none;
}
textarea{
	-webkit-appearance: none;
}

.fr{ float:right;}
.ml10{ margin-left:10px;}



.txt-input {
	border:0;
	color: #333333;
	font-size: 14px;
	width: 90%;
	height: 36px;
	overflow:hidden;
	padding-left:20px;
}

.txt-input0 {
	border:0;
	color: #333333;
	font-size: 14px;
	width: 100%;
	height: 36px;
	overflow:hidden;
}

.sj{ background:url(../images/sj1.png) no-repeat -3px 9px; background-size:20px;}
.xm{ background:url(../images/xm.png) no-repeat -3px 9px; background-size:20px;}
.dz{ background:url(../images/dz1.png) no-repeat -3px 9px; background-size:20px;}
.mm1{ background:url(../images/mm1.png) no-repeat -3px 9px; background-size:20px;}
.yzm{ background:url(../images/yzmtb.png) no-repeat -3px 9px; background-size:20px;}

.txt-textarea {
	color: #333;
	font-size: 14px;
	height: 100px;
	width: 100%;
	vertical-align: middle;
	resize: none;
	line-height: 28px;
	border:1px solid #f5f5f5;
	margin:0 auto 20px auto;
	padding:10px;
	box-sizing:border-box;
	border-radius:4px;
}

.txt-textarea0 {
	color: #333;
	font-size: 14px;
	height: 100px;
	width: 100%;
	vertical-align: middle;
	resize: none;
	line-height: 28px;
	border:0;
	font-family:"微软雅黑";
}

.f1{ color:#00ae60;}
.f2{ color:#ffbb32;}
.f3{ color:#333333;}
.f4{ color:#b5b5b5;}

.fz12{ font-size:14px;}



.tgspbq{display:inline-block; position:absolute; top:0;left:0;border-radius:0 0 24px 0; width:24px; height:24px; text-align:center; line-height:20px; color:#FFFFFF;background:#ff5858; z-index:9; font-size:14px;}
.msspbq{ display:inline-block; position:absolute; top:0;left:0;border-radius:0 0 24px 0; width:24px; height:24px; text-align:center; line-height:20px; color:#FFFFFF;background:#ffbb32; z-index:9;font-size:14px; }

.btn-big {
	border-radius: 5px;
	display: block;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	width: 90%;
	text-align: center;
	margin: 20px auto;
	color: #fff;
	border:0;
	cursor:pointer;
	background:#00cd65;
	border-radius:50px;
}

.btn-big-w{
	border-radius: 5px;
	display: block;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	margin: 20px auto;
	color: #00cd65;
	border:0;
	cursor:pointer;
	background:#fafafa;
	border-radius:50px;
}



.btm3{ margin-bottom:.3rem; }
.btop3{border-top:.3rem solid #fff;}

.clear{ clear:both;}
.clear6{ clear:both; height:1rem;}

.snyg_headdiv{
	position:relative;
	height:40px;
	display:none;
}
.ico_ret{ position:absolute; top:6px; left:0; width:60px; height:30px; text-align:center; vertical-align:middle;}
.ico_ret img{ max-height:26px;}
.ico_ret a{ display:inline_block; height:30px; overflow:hidden;}
.ico_home{ position:absolute; top:6px; right:0; width:60px; height:30px; text-align:center; vertical-align:middle;}
.ico_home img{ max-height:26px;}
.ico_home a{ display:inline-block; height:30px; overflow:hidden;}
.snyg_headdiv h2{
	padding:0;
	margin:0px;
	font-size:15px;
	line-height:40px;
	overflow:hidden;
	word-break:break-all;
	text-align:center;
	color:#193d12;
	padding:0px 50px;
	font-weight:500;
}

/*表单单选样式*/
.radiock{
	height: 24px;
	width: 24px;
	display: inline-block;
	background-image: url(../images/rd.png);
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	margin-top: 0px;
	display:inline-block;
}
input[type="radio"]:checked + .radiock{
	background-image: url(../images/rdc.png);
}

/*表单复选样式*/
.check{
	height: 24px;
	width: 24px;
	display: inline-block;
	background-image: url(../images/check.png);
	background-repeat: no-repeat;
	background-position: center;
	vertical-align: middle;
	margin-top: 0px;
	display:inline-block;
}
input[type="checkbox"]:checked + .check{
	background-image: url(../images/checkc.png);
}


.snyg_topserch{ margin:0px auto; width:90%; background:rgba(255,255,255,1); text-align:center; border-radius:50px; position:absolute; top:10px; left:5%;}
.snyg_top_inputsech {
	background: url(../images/ss.png) no-repeat left center;
	background-size:30px;
	color: #c1c7d1;
	font-size: 15px;
	line-height:20px;
	width: 90%;
	border:0;
	height:30px;
	vertical-align: middle;
	padding:5px 10px 5px 40px;
}


.snyg_details_title{
	width:100%;
	text-indent:0;
	font-size:1.3rem;
	margin:16px auto 16px auto;
	color:#333333;
	height:2rem;
	line-height:2rem;
	clear:both;
	position:relative;
	background: url(../images/btzbg.png) no-repeat center;
	background-size:100%;
	font-weight:bold;
	text-align:center;
}
.snyg_details_title a{ color:#8bd044;}

.snyg_content{width:100%;}
.snyg_contentb{width:100%; background:#ffffff; border-bottom:8px solid #fafafa; position:relative;}

.snyg_xccon {
	color: #666666;
	font-size: 14px;
	line-height: 30px;
	padding:20px;
	width:90%;
	margin:0 auto;
	background:#ffffff;
	box-sizing:border-box;
	border-radius:12px;
}
.snyg_xccon p{ color:#999999; border:1px solid #efefef; border-radius:4px; margin-bottom:20px; padding:0px 10px; box-sizing:border-box; line-height:40px;}


.snyg_data_details {width:100%;position:relative;margin:5px auto; }
.snyg_data_details li{display:block;float:left;width:41%;position:relative;margin:0px auto 20px 6%;height: auto; background:#ffffff;overflow:hidden; padding:1rem; box-sizing:border-box;border-radius:4px;}
.snyg_data_details li .data_img{width:100%;height: auto;overflow:hidden;}
.snyg_data_details li .data_img img{width:100%;height:100%;border_radius:4px; max-width:300px;max-height:300px;}
.snyg_data_details li .data_bt{ font_size:1rem; color:#333; font-weight:bold; line-height:2rem;overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap; }
.snyg_data_details li .data_jg{font-size:1rem;color:#fc9645;z-index:10;line-height:2rem;}
.snyg_data_details li .data_xl{font-size:.875rem; color:#d5d5d5;line-height:1.5rem;overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;  }
.snyg_data_details li  .data_more{width:30px;height:30px;background:url(../images/gwc1.png) no-repeat center; background-size:30px; z-index:1; margin:0 auto; position:absolute; right:5px;bottom:15px;}


.snyg_data_tglist {width:100%;position:relative;margin:5px auto; }
.snyg_data_tglist li{display:block;float:left;width:28%;position:relative;margin:0px auto 20px 4%;height: auto; background:#ffffff;overflow:hidden; padding:.5rem; box-sizing:border-box; border-top:5px solid #00ae60;border-radius:4px;}
.snyg_data_tglist li:nth-of-type(even){display:block;float:left;width:28%;position:relative;margin:0px auto 20px 4%;height: auto; background:#ffffff;overflow:hidden; padding:.5rem; box-sizing:border-box;border-top:5px solid #ffbb32;}
.snyg_data_tglist li .data_img{width:100%;height: auto;overflow:hidden;}
.snyg_data_tglist li .data_img img{width:100%;height:100%;border-radius:4px;max-width:300px;max-height:300px;}
.snyg_data_tglist li .data_bt{ font-size:1rem; color:#333; font-weight:bold;  line-height:2rem;overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap; }
.snyg_data_tglist li .data_jg{font-size:1rem;color:#fc9645;z-index:10;line-height:2rem;}
.snyg_data_tglist li .data_xl{font-size:.875rem; color:#d5d5d5;line-height:1.5rem; }
.snyg_data_tglist li  .data_more{width:30px;height:30px;background:url(../images/gwc1.png) no-repeat center; background-size:30px; z-index:1; margin:0 auto; position:absolute; right:0;bottom:5px;}

.addMore{ text-align:center;font-size:14px; color:#A5AEBC; }

.snyg_flbanner{ width:100%; margin:0 auto;}
.snyg_flbanner img{ width:100%;}
/*页面底部固定菜单样式*/

.snyg_icon_ul{
	position: fixed;
	left:0;
	bottom:0;
	width:100%;
	background:#f8f8f8;
	padding:0;
	z-index:99999;
	border-top:1px solid #eeeeee;
	height: 50px;
	display: flex;
	align-items: center;
}
.snyg_icon_ul li{
	width: 25%;
	float: left;
	text-align: center;
}
.snyg_icon_ul li a{
	display: block;
	float: left;
	width: 100%;
	height: 50px;
	margin-top: 0px;
	color:#999999;
}
.snyg_icon_wrap{
	height: 50px;
	display: table;
	margin-left:auto;
	margin-right: auto;
	color:#99999;
	padding-top:2px;
}
.snyg_icon_wrap p{ line-height:14px; font-size:14px; vertical-align:top; margin-top:-2px;}

.snyg_icon_del1 {
	background: url(../images/menu-sy.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
	margin:0;
	width:25px; height:25px;
}

.snyg_icon_del1on {
	background: url(../images/menu-sy1.png);	    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
	margin:0;
	width:25px; height:25px;}
.snyg_icon_del2 {
	background: url(../images/menu-fl.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
	margin:0;
	width:25px; height:25px;}

.snyg_icon_del2on {
	background: url(../images/menu-flon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
	margin:0;
	width:25px; height:25px;}
.snyg_icon_del3 {
	background: url(../images/menu-xc.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
	margin:0;
	width:25px; height:25px;}

.snyg_icon_del3on {
	background: url(../images/menu-xcon.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
	margin:0;
	width:25px; height:25px;}
.snyg_icon_del4 {
	background: url(../images/menu-user.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
	margin:0;
	width:25px; height:25px;}

.snyg_icon_del4on {
	background: url(../images/menu-useron.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
	margin:0;
	width:25px; height:25px;}

.snyg_footer{
	clear:both;
	width:100%;
	margin:10px auto;
	height:80px;
}


/*我的样式*/
.snyg_grzx{width:100%; margin:0 auto;height:140px; background: url(../images/xbg.jpg) no-repeat top #5dcf89;background-size:100% 240px; padding-top:20px; box-sizing: border-box;}
.snyg_grzxtx{ display:block; width:60px; height:60px; border:0px solid rgba(255,255,255,0.3); border-radius:780px;  overflow:hidden; background:rgba(255,255,255,0.3); position:absolute;left:30px;}
.snyg_grzxtx img{ width:60px; height:60px;}
.snyg_grzx p{ padding-left:100px;font-size:16px; line-height:40px; color:#fff;overflow: hidden;
	text-overflow: ellipsis;white-space: nowrap; height:40px; margin-top:10px;}

.snyg_gr_list {width:90%;position:relative;margin:20px auto;	box-shadow:0px 3px 5px 0px rgba(60,60,60,0.1);
	padding:18px 0;
	border-radius:12px; background:#FFFFFF;}
.snyg_gr_list li{
	width:90%;
	margin:0 auto 6px auto;
	border: 1px solid #f5f5f5;
	border-radius:4px;
	font-size: 14px;
	line-height: 49px;
	height: 49px;
	padding: 0 5px;
	cursor: pointer;
	box-sizing:border-box;
	background:url(../images/jt.png) no-repeat right;vertical-align: middle;
}
.snyg_gr_list li:last-child{	margin:0 auto;}
.snyg_gr_list li span{ display:inline-block; width:48px; height:48px; overflow:hidden; vertical-align: middle;}
.snyg_gr_list li span img{width:40px; height:40px; vertical-align:top;margin-top:5px;}
.snyg_gr_list a{ display:block; width:100%;}

.snyg_user_type{
	width:90%;
	background:#FFFFFF;
	height: auto;
	margin:20px auto;
	box_shadow:0px 3px 5px 0px rgba(60,60,60,0.1);
	padding:20px 0;
	border-radius:12px;
}

.snyg_type_bt{ border-bottom:1px solid #efefef; padding:0 20px 10px 20px; font-size:1rem; margin-bottom:10px;}
.snyg_type_bt span{ float:right;}

.snyg_user_type li{
	float:left;
	width:25%;
	text-align:center;
	margin-top:5px;
	margin-bottom:0px;
}

.snyg_user_type li img{max-width:60px; max-height:60px; width:60px;}

.snyg_tz_type{
	width:90%;
	background:#FFFFFF;
	height:auto;
	margin:-40px auto 0 auto;
	box-shadow:0px 3px 5px 0px rgba(60,60,60,0.1);
	padding:20px 0;
	border-radius:12px;
}
.snyg_tz_type h3{ color:#fc9645;}
.snyg_tz_type li{
	float:left;
	width:25%;
	text-align:center;
	margin-top:5px;
	margin-bottom:0px;
}

.snyg_tz_type li img{max-width:60px; max-height:60px; width:60px;}


/*购物车样式*/
.one_sp_list { margin:0 auto;
	width:100%;
}

.one_sp_list li {
	position: relative;
	padding: 20px;
	margin: 0 auto 10px auto;
	overflow:hidden;
	background:#FFFFFF;
	box-sizing:border-box;
	text-align:left;
	box-sizing:bordex-box;
}

.one_sp_list .lics {
	height:120px;
}



.one_sp_list .iconl0 {
	display: block;
	position: absolute;
	top: 0px;
	left:0px;
	width: 90px;
	height: 90px;
}

.one_sp_list .iconl0 img {
	width: 90px;
	height: 90px;
	border-radius:4px;
}

.one_sp_list .iconleft {
	top: 20px;
	left: 20px;
	display: block;
	position: absolute;
	width: 90px;
	height: 90px;
	z-index:9;
}

.one_sp_list .iconleft .leftdivf{
	display: block;
	position: absolute;
	top: 30px;
	width: 20px;
	height: 20px;

	left:-5px;

}

.one_sp_list .icon {
	display: block;
	position: absolute;
	top: 0px;
	left: 20px;
	width: 90px;
	height: 90px;
}

.one_sp_list .icon img {
	width: 90px;
	height: 90px;
	border-radius:4px;
}

.one_sp_list .info {
	position: relative;
	height: 90px;
	padding: 0 0 0 140px;
	z-index:1;
}

.one_sp_list .info h2 {
	padding:0;
	height:30px;
	font-size:15px;
	line-height:24px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-bottom: 0px;
	color:#666;
}

.one_sp_list .info h4 {
	padding:4px 0px;
	height:18px;
	font-size:14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	margin-bottom: 0px;
	color:#666;
	font-weight:normal;
}

.one_sp_list .txt {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #bbb;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.one_sp_list .sl{
	position:absolute;
	bottom:10px;
	right:0px;
	height: 20px;
	color: #333;
	line-height: 20px;
	font-family: "微软雅黑";
	margin: 0;
	font-size: 14px;
	border:1px solid #efefef;
	border-radius:4px;
	padding:0px;
	height:24px;
}

.input_sl {
	border: 0;
	width: 34px;
	height: 24px;
	line-height: 20px;
	color: #00ae60;
	background: #fff;
	box-sizing:border-box;
	text-align: center;
	overflow:hidden;
	vertical-align:top;
	border-radius:0px;
}

.btnhui {
	border: 0;
	width: 20px;
	height: 20px;
	background: url(../images/del.png) no-repeat 2px -2px;
	display: inline-block;
	cursor:pointer;
	margin-top:6px;
}

.btnadd {
	border: 0;
	width:20px;
	height: 20px;
	background: url(../images/add.png) no-repeat 2px -4px;
	display: inline-block;
	cursor:pointer;
	margin-top:6px;
}

.one_sp_list .jg{font-size: 18px; line-height:40px;color: #8bd044; }
.one_sp_list .txt1 {
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #bbb;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}

.one_sp_list .txt2 {
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #bbb;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	margin-top:5px;
}


.one_sp_list .info .gwc{width:30px;height:30px;background:url(../images/gwc1.png) no-repeat center; background-size:30px; z-index:0; margin:0 auto; position:absolute; right:0px;bottom:0px;}

.one_sp_list p {
	color: #999999;
}


.snyg_nav {
	position: fixed;
	bottom: 0;
	height: 50px;
	text-align: center;
	background: #ffffff;
	width: 100%;
	margin: 0px auto;
	z-index:9;
}

.snyg_nav span {
	display: block;
	float: left;
	position: relative;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 12px;
	padding:10px;
	box-sizing:border-box;
}

.wid1{ width:100%}
.wid2{ width:70%}
.wid3{ width:30%}
.wid4{ width:20%}
.wid5{ width:50%}
.wid6{ width:40%}
.lh24{ line-height:20px;}

.text_c{ text-align:right;}
.snyg_nav span .tswz{ position:absolute; bottom:0px; right:10px; color:#b5b5b5; font-size:14px; line-height:14px;}

.ydfj_ico {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/x-ico9.png) no-repeat;
	background-size: 25px 25px;
	vertical-align: middle;
	margin-right: 10px;
}

.gwc_ico {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/gwc1.png) no-repeat;
	background-size: 25px 25px;
	vertical-align: middle;
	margin-right: 10px;
}

.orange_btn {
	color: #ffffff;
	background: #ffbb32;
	display: inline-block;
	text-align: center;
}
.orange_btn:hover {
	color: #ffffff;
	background: #ff9932;
	display: inline-block;
	text-align: center;
}

.green_btn{
	color: #ffffff;
	background: #00ae60;
	display: inline-block;
	text-align: center;
}

.green_btn:hover {
	color: #ffffff;
	background: #00bb60;
	display: inline-block;
	text-align: center;
}

.kfico{ position:absolute; left:10px; top:10px; display: inline-block; background:url(../images/x-ico9.png) top left no-repeat; background-size:30px; width:50px; height:50px; cursor:pointer; }


/*商品分类*/
.l_spfl{
	width:25%;
	height:100%;
	position:relative;
	float:left;
	box-sizing:border-box;
}

.onefl{ margin:0; padding:0;box-sizing:border-box; list-style:none;}
.onefl li{ padding:15px 10px;font-size:14px; color:#555555; }

.menu{border-left:4px solid #fafafa;}
.menu:hover{border-left:4px solid #ffbb32;background:#ffffff;}
.menuon{border-left:4px solid #ffbb32; background:#ffffff;}

.r_spfl{
	width:75%;
	height:100%;
	position:relative;
	float:left;
	background:#FFFFFF;
	padding:10px; box-sizing:border-box;
}

.twofl{ margin:0; padding:0;list-style:none;}
.twofl li{ width:33%;float:left;padding:10px;box-sizing:border-box; font-size:.875rem;color:#999999; text-align:center; overflow:hidden; position:relative; margin:0 auto;}
.twofl li:nth-of-type(even){ }
.flimg{ margin-bottom:5px; border-bottom:1px solid #eaeaea;}
.flimg img{ width:100%; border-radius:50px;margin-bottom:5px; max-width:50px; max-height:50px; }
.twofl p{overflow: hidden;
	white-space: nowrap; height:24px; }
.twofl .more{ display:inline-block; position:absolute;top:0; left:0; right:0;top:0; bottom:0; }

/*商品分类*/
.snyg_spfl_nav {
	position: absolute;
	height: 50px;
	text-align: center;
	width: 100%;
	margin: 0px auto;
	bottom:1px;
	left:0;
	border-bottom:1px solid #eaeaea;
}

.snyg_spfl_nav span {
	display: block;
	float: left;
	position: relative;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	padding:10px;
	box-sizing:border-box;
	width:33%;
}

.snyg_spfl_nav .spanon{ color:#000000; font-size:16px; }
.ico_jt{background: url(../images/jt-ico.png) no-repeat; display:inline-block; width:24px; height:24px; vertical-align:text-top;}
.ico_ujt{background: url(../images/u-jt.png) no-repeat; display:inline-block; width:24px; height:24px;vertical-align:text-top;}
.ico_djt{background: url(../images/d-jt.png) no-repeat; display:inline-block; width:24px; height:24px;vertical-align:text-top;}

/*商品详情*/

.gwc{ position:fixed;bottom:120px; right:10px; width:54px; height:54px; background:url(../images/gwc2.png) no-repeat; background-size:54px; z-index:100;}
.cpbtdiv {
	position: relative;
	width: 100%; /*forFF*/
	margin: 0 auto 10px auto;
	line-height:24px;
	padding:0 20px ;
	box-sizing:border-box;
}

.cpbtdiv p {
	font-size: 15px;
	color: #333;
	line-height:28px;
	padding-top:10px;
}

.jgwz {color:#ffae00;
	font-size: 20px;
	line-height:30px;
}

.zswz {color:#b5b5b5;
	font-size: 14px;
}
.ztwz {color:#b5b5b5;
	font-size: 14px;

	padding-right:50px;
	background:url(../images/dz.png) no-repeat right center;
	background-size:20px;
	height:30px;
	border-bottom:1px solid #efefef;
	overflow:hidden;
	cursor:pointer;
}
.rysj {color:#666;
	font-size: 14px;
	line-height:30px;
	padding-left:5px;
	height:30px;
	overflow:hidden;
}

.sj{ background:url(../images/sj1.png) no-repeat -3px 11px; background-size:20px;}
.xm{ background:url(../images/xm.png) no-repeat -3px 11px; background-size:20px;}
.dz{ background:url(../images/dz1.png) no-repeat -3px 11px; background-size:20px;}

/*优惠入口*/

.yhrkdiv{
	height:50px; overflow:hidden; font-size:14px; color:#555;
	width: 100%; /*forFF*/
	margin:0 auto 10px auto;
	line-height:20px;
	padding:0 20px ;
	box-sizing:border-box;
	position: relative;
}

.yhrkdiv .leftzi{ position: absolute; top:20px; left:20px;font-size:13px; }
.yhrkdiv .leftzi span{ padding-left:10px;}
.yhrkdiv .rzi{ position: absolute; top:20px; right:20px; color:#999;font-size:14px; background:url(../images/jt1.png) right no-repeat;padding-right:20px;}
.yhrkdiv .centyhxx{ width:40%; position:absolute; top:10px; right:40px;font-size:14px; color:#999;}

/*3n1g产品介绍TAB*/
.spxq_nav {
	position: relative;
	bottom: 0px;
	height: 40px;
	text-align: center;
	font-size: 15px;
	background: #ffffff;
	width: 100%;
	margin: 0px auto;
	border-bottom:1px solid #f5f5f5;
}

.spxq_nav span {
	display: block;
	float: left;
	position: relative;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 33.33%;
}

.spxq_navone {
	color: #ffbb32;
	background: #ffffff;
	border-radius: 0px;
	display: inline-block;
	border-bottom: 4px solid #ffbb32;
}

.spxq_navtwo {
	color: #b5b5b5;
	background: #ffffff;
	border-radius: 0px;
	display: inline-block;
	border-bottom: 4px solid #00ae60;
}

.spxq_navtwo:hover {
	color: #ffbb32;
	background: #ffffff;
	border-radius: 0px;
	display: inline-block;
	border-bottom: 4px solid #ffbb32;
}

/*3n1g产品介绍TAB*/
.spxxzt{ background:#00ae60; width:100%; height:40px;color:#FFFFFF; line-height:40px; padding:0 20px 0 0; box-sizing:border-box; text-align:right; position:relative;}
.spxxzt .ztbt{ display:inline-block; background:#ffbb32; padding:0 20px; border-radius:0 20px 20px 0; font-weight:bold; position:absolute;top:0; left:0;}
.spxxzt .ztbthui{ display:inline-block; background:rgba(255,200,200,.5); padding:0 20px; border-radius:0 20px 20px 0; font-weight:bold; position:absolute;top:0; left:0; color:#ddd;}

/*3n1g产品介绍内容*/
.spjscss {
	background: #FFFFFF;
	padding: 0;
	width:100%;
	margin:0 auto;
	padding:0 20px;
	box-sizing:border-box;
	line-height:28px;
}

.spjscss img{ width:100%; margin:0px auto; display:block;}

/*3n1g产品购买须知*/
.spgmxz {
	background: #FFFFFF;
	padding: 0;
	width:100%;
	margin:0 auto;
	padding:20px;
	box-sizing:border-box;
}


.spgmxz dd {
	width:100%;
	font-size: 14px;
	line-height: 28px;

	position: relative;
}

.spgmxz dd span{color:#b5b5b5; }
.spgmxz dd div{color:#555}
.spgmxz dd  img{ width:100%; margin:0 auto;}


/*3n1g产品评价*/
.sppj_list { width:100%; margin:0 auto; padding:0 20px 20px 20px; box-sizing:border-box;}

.sppj_list li {
	position: relative;
	padding:10px 0;
	box-sizing:border-box;
	margin: 0 0 20px 0;
	border-bottom:1px solid #efefef;
}



.sppj_list  .info {
	position: relative;
	padding:10px  5px;
	background:#fafafa;
	border-radius:4px;
}

.sppj_list  h5 {
	font-size:14px;
	line-height:24px;
	text-overflow:ellipsis;
	white-space: nowrap;
	position:relative;
	color:#b5b5b5;
}


.sppj_list  .txt {
	line-height: 24px;
	font-size: 14px;
	color: #999999;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.sppj_list  .txt span{ margin:0 20px;}


/*3n1g商品规格*/
.spggdiv{ position:fixed; bottom:0; width:100%; height:240px; border-top:1px solid #dddddd; z-index:99; padding-bottom:10px; background:#FFFFFF;}
.closdiv{ display:inline-block; position:absolute; top:5px; right:0px; background:url(../images/ydel.png); width:30px; height:30px; border:0; cursor:pointer;}
.spgg-title{
	font-size:15px;
	color:#333;
	height:50px;
	line-height:40px;
	clear:both;
	position:relative;
	margin:0 auto 10px auto;
	width:100%;
	border-bottom:1px solid #f5f5f5; }
.sptucss{position:absolute; top:-30px; left:10px; }
.sptucss img{ border-radius:4px;width:100px; height:80px;}

.spggfl {
	background: #FFFFFF;
	padding: 0;
	width:94%;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:10px;
}


.spggfl dt {
	font-size: 15px;
	color:#555;
	line-height: 32px;
	margin: 0px auto;
	padding: 0;
	cursor: pointer;
	border-bottom:1px solid #f5f5f5;

}

.spggfl dt:hover {
	cursor: pointer;
}


.spggfl dd {
	width:100%;
	font-size: 14px;
	line-height: 28px;
	color:#777;
	position: relative;
}

.spggfl dd .span{ position:absolute; top:0; left:0; width:80px; overflow:hidden; }
.spggfl dd .div{ padding-left:80px;color:#333333}
.spggfl dd  img{ width:100%; margin:0 auto; border-radius:4px;}

.spggfl dd .sl{
	position: relative;
	height: 24px;
	color: #333;
	line-height: 24px;
	font-family: "微软雅黑";
	margin: 0;
	font-size: 14px;
	border:1px solid #efefef;
	border-radius:4px;

	width:90px;
	overflow:hidden;
}
.spggfl dd .sl .btnhui,	.spggfl dd .sl .btnadd{ margin-top:5px;}
.spggfloff{
	border:1px solid #efefef;
	color:#333;
	background:#f5f5f5;
	font-size: 14px;
	height: 30px;
	padding: 0 10px;
	margin:5px 2% 0 0;
	overflow:hidden;
	line-height: 26px;
	cursor:pointer;
}
.spggflon{
	border:1px solid #ffbb32;
	color:#fff;
	background: #ffbb32;
	font-size: 14px;
	height: 30px;
	padding: 0 10px;margin:5px 2% 0 0; overflow:hidden;line-height: 26px;	cursor:pointer;}


/*3n1g订单地址*/
.dddz_list { width:90%; margin:0 auto;}

.dddz_list { width:100%; margin:0 auto; padding:0 20px 20px 20px; box-sizing:border-box;}

.dddz_list li {
	position: relative;
	padding:10px 0 10px 0;
	box-sizing:border-box;
	margin:0;
	border-bottom:8px solid #fafafa;
	background:#fff;
}

.dddz_list h2 {
	padding:4px 0px;
	height:28px;
	font-size:14px;
	line-height:24px;
	overflow:hidden;
}
.dddz_list h2 span{ margin-left:30px;}

.dddz_list p{ margin-bottom:10px;}

.del_btn1 {
	position:absolute;
	top:12px;
	right:0px;
	height: 26px;
	background: url(../images/del1.png) no-repeat right 3px;
	background-size:20px;
	color: #a5aebc;
	border:0;
	padding:0;
	width:30px; overflow:hidden;
	cursor:pointer;
}

.edit_btn2 {
	position:absolute;
	top:12px;
	right:40px;
	height: 26px;
	background: url(../images/edit.png) no-repeat right 3px;
	background-size:20px;
	color: #a5aebc;
	border:0;
	padding:0;
	width:30px; overflow:hidden;	cursor:pointer;}

/*3n1g订单标题*/
.ddbt_title{
	font-size:15px;
	color:#333;
	height:40px;
	line-height:40px;
	clear:both;
	position:relative;
	margin:0 auto 10px auto;
	width:100%;
	border-bottom:1px solid #f5f5f5; padding:0 20px; box-sizing:border-box;}

.zfbtx {
	color: #555;
	font-size: 14px;
	padding: 0px 20px;
	height:40px;
	overflow:hidden;
	line-height:40px;
	margin:0 auto;
}
.zfbtx span{ float:right; margin:0px 0px 5px 5px;color:#333333; font-size:15px; line-height:36px;}
.jtdiv{
	border-bottom: 1px solid #f5f5f5;
	font-size: 14px;
	line-height: 40px;
	height:40px;
	padding: 0 40px 0 0;
	cursor: pointer;
	background:url(../images/jt1.png) no-repeat right;vertical-align: middle;
	margin:0 20px;
}

.zfbtcon {
	color: #555;
	font-size: 14px;
	padding: 0px 20px;
	margin:0 auto;
}

.hjjg{ position:absolute; top:0; right:20px;color:#FFbb32; font-size:18px; line-height:36px;}

/*3n1g支付订单*/
.tsdiv{ width:100%; margin:0 auto; padding:20px 0;background:linear-gradient(345deg,rgba(0,235,101,1) 0%,rgba(0,174,96,1) 100%);}
.tsdiv p{ padding-left:25px; font-size:16px; color:#FFFFFF; line-height:32px; font-weight:bold;}
.tsdiv div{ padding-left:25px; font-size:14px; color:#FFFFFF; line-height:24px;}
.tsdiv div b{ margin:0 10px;}
.wx_ico {
	margin: 0px 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/x-ico11.png) no-repeat;
	background-size: 30px 30px;
	cursor: pointer;
	vertical-align: middle;
}
.zfb_ico {
	margin: 0px 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	background: url(../images/x-zfb.png) no-repeat;
	background-size: 30px 30px;
	cursor: pointer;
	vertical-align: middle;
}

.wzgl{ width:100%; margin:0 auto; padding:20px; box-sizing:border-box; font-size:14px; line-height:32px;}
.wzgl img{ width:100%;}

/*3n1g拼团订单*/

.ptxx{ margin:0 auto; padding:0; list-style:none; width:90%}
.ptxx li{ border-bottom:1px solid #efefef; margin:0 auto 10px auto;padding:10px 0; font-size:13px;}

.ptxx .tzli{ border-bottom:2px solid #00ae60; margin:0 auto 10px auto;padding:10px 0; font-size:13px;}
.ptxx li .divleft{ width:45%; float:left; line-height:40px; overflow:hidden; vertical-align:middle;}
.usertx{ display:inline-block; width:40px; height:40px; overflow:hidden; border-radius:40px; vertical-align:middle; margin-right:10px;}
.usertx img{ width:100%;}
.ptxx li .divcen{ width:35%; float:left; line-height:20px;}
.ptxx li .divright{width:20%; float:left; text-align:right; position:relative;}
.s_btn{ font-size: 14px;display:inline-block;height:24px; border-radius:30px; padding:0 10px; vertical-align:middle; line-height:22px; text-align:center; background:#ffbb32; color:#fff; position:absolute; top:6px; right:0; width:50px;}

.s_g_btn{ font-size: 14px;display:inline-block;height:24px; border-radius:30px; padding:0 10px; vertical-align:middle; line-height:22px; text-align:center; background:#00ae60; color:#fff; position:absolute; top:6px; right:0; width:50px;}

.s_h_btn{ font-size: 14px;display:inline-block;height:24px; border-radius:30px; padding:0 10px; vertical-align:middle; line-height:22px; text-align:center; background:#ddd; color:#fff; position:absolute; top:6px; right:0; width:50px;}

/*3n1g物流信息*/
.wlxx_list { width:100%; margin:0 auto;}

.wlxx_list li {
	position: relative;
	padding:0 20px;
	margin: 0;
	box-sizing:border-box;
}

.wlxx_list .infobg {
	background: url(../images/xcd.png) no-repeat top left;
	border-left:1px solid #f5f5f5;
	padding-left:30px;
}
.wlxx_list .inforight {

	top:8px;
	left:60px;
	line-height:24px;
}
.wlxx_list .inforight h3{
	font-size:14px;
	line-height:38px;

}


/*订单TAB*/
.snyg_dd_nav {
	position: absolute;
	height: 50px;
	text-align: center;
	width: 100%;
	margin: 0px auto;
	bottom:1px;
	left:0;

}

.snyg_dd_nav span {
	display: block;
	float: left;
	position: relative;
	line-height: 30px;
	font-family: "微软雅黑";
	font-size: 14px;
	padding:10px;
	box-sizing:border-box;
	width:20%;
	border-bottom:4px solid #00ae60;
	height:50px;
	overflow:hidden;

}

.snyg_dd_nav .spanon{ color:#333; border-bottom:4px solid #ffbb32; }

.ddlist{ margin:0; padding:0; list-style:none;}
.ddlist li{ position:relative; width:100%; padding:20px; box-sizing:border-box; border-bottom:8px solid #fafafa;}

.ddlist .ddinfo{ position:relative; padding:10px 0; margin-top:10px; border-top:1px solid #efefef;}
.ddlist .thddinfo{ position:relative; padding:0; margin-top:0px;}


.ddlist .iconleft {
	top: 10px;
	left: 0px;
	display: block;
	position: absolute;
	width: 110px;
	height: 80px;
	z-index:9;
}



.ddlist .iconleft .icon {
	display: block;
	position: absolute;
	top: 0px;
	left:0px;
	width: 110px;
	height: 80px;
}

.ddlist .iconleft .icon img {
	width: 110px;
	height: 80px;
	border-radius:4px;
}

.ddlist .info {
	position: relative;
	height: 80px;
	padding: 0 0 0 120px;
	z-index:1;
}

.ddlist .info h4 {
	padding:0px 0px 4px 0;
	height:18px;
	font-size:14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
	margin-bottom: 0px;
	color:#666;
	font-weight:normal;
}

.ddlist .ddzf{ position:relative; height:36px; line-height:36px; }
.ddlist .ddzf .txt1{font-size:14px; }



.ddzt1{ float:right; color:#00cd65;}
.ddzt2{ float:right; color:#ffbb32;}
.ddzt3{ float:right; color:#ff5858;}
.ddzt4{ float:right; color:#f00;}

.gm_btn{ z-index:0; margin:0 auto; position:absolute; right:0px;bottom:36px;}

/*参团信息*/
.ctlist{ margin:0 auto; padding:0; line-height:32px;text-align:center;}
.ctlist .sjdiv{ border-bottom:1px solid #efefef; height:17px; width:100%; position:relative;}
.ctlist .sjdiv span{ display: block; height:32px; background:#FFFFFF; position:absolute; width:50%; left:25%;}
.ctuser{ margin:20px auto; padding-top:20px;}

.usertxtz{ display:inline-block; width:40px; height:50px; overflow:hidden; border-radius:40px; vertical-align:middle; margin-right:10px; background:url(../images/tgtz.png) no-repeat bottom center; }
.usertxtz img{ width:40px; height:40px; border-radius:40px; margin-top:10px;}
.usertxty{ display:inline-block; width:40px; height:50px; overflow:hidden; border-radius:40px; vertical-align:middle; margin-right:10px; }
.usertxty img{ width:40px; height:40px; border-radius:40px; margin-top:10px;}
.usertxk{ display:inline-block; width:40px; height:50px; overflow:hidden; border-radius:40px; vertical-align:middle; margin-right:10px; background:url(../images/tgk.png) no-repeat bottom center; }


.btn_big_g {
	border-radius: 5px;
	display: block;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	width: 30%;
	text-align: center;
	margin: 10px;
	color: #fff;
	border:0;
	cursor:pointer;
	background:#00cd65;
	border-radius:50px;
	display:inline-block;
}

.btn_big_h {
	border-radius: 5px;
	display: block;
	font-size: 15px;
	height: 40px;
	line-height: 40px;
	width: 30%;
	text-align: center;
	margin: 10px;
	color: #fff;
	border:0;
	cursor:pointer;
	background:#ddd;
	border-radius:50px;
	display:inline-block;
}

.thhxx{ border-bottom:1px solid #efefef; padding:10px 20px; box-sizing:border-box;}
.thhxx span{ display:block;}

/*图片上传*/
.sctu{ margin:0 0 20px 0; padding:0 20px; background:#FFFFFF; height:auto; position:relative; max-height:273px; overflow:hidden;}
.sctu li{ width:29%; margin:5px 1.5%; float:left; border:1px solid #eeeeee; height:80px; background:url(../images/add.png) no-repeat center; cursor:pointer; position:relative;}
.sctu li img{width:100%; height:100%; margin:0;}
.sctu li .cls{ background:url(../images/ydel.png) no-repeat center #ffbb32; position:absolute; top:0; right:0; width:20px; height:20px; }

/*退款原因*/
.yylist{margin:0; padding:0; background:#FFFFFF; height:auto; position:relative;padding:0 20px; }
.yylist li{ width:98%; margin:0px auto;padding:5px 0;border-bottom:1px solid #eeeeee; font-size:14px; line-height:30px; color:#333333;cursor:pointer;}
.yylist li span{ float:right; margin-right:20px;}

/*秒杀时间*/
.mssjlist{margin:0 auto; padding:0; background:#FFFFFF; height:auto; position:relative; width:90%; }
.mssjlist li{ width:32%; margin:0px 2% 20px 0;cursor:pointer;float:left;}
.mssjlist li a{font-size:12px; line-height:12px; color:#fff;}
.msbtn_on{ background:#ffbb32; display:inline-block; width:100%; box-sizing:border-box;padding:10px 5px 10px 30px; position:relative; text-align:center;}
.msbtn{ background:#ddd; display:inline-block;width:100%; box-sizing:border-box;padding:10px 5px 10px 30px;position:relative;text-align:center;}
.ico_z{ background:url(../images/icon_z.png) center no-repeat; background-size:20px; display:inline-block; width:30px; height:40px; position:absolute; top:0; left:0;}
.ico_w{ background:url(../images/icon_w.png) center no-repeat; background-size:20px; display:inline-block; width:30px; height:40px; position:absolute; top:0; left:0;}
.ico_ws{ background:url(../images/icon_ws.png) center no-repeat; background-size:20px; display:inline-block; width:30px; height:40px; position:absolute; top:0; left:0;}

/*查看更多*/
.ckgd{ margin:0 auto 20px auto; text-align:center;}
.morebtn{ display:inline-block; padding:2px 20px; text-align:center; border:1px solid #eee; background:#FFFFFF;}

.ydbtn-ico {
	background: #5ECF88;
	border-radius: 3px;
	width: 90px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	margin: 0 0 0 1px;
	border: 0;

}

.ckbtn-ico {
	background: #bbb;
	border-radius: 3px;
	width: 90px;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	margin: 0 0 0 1px;
	border: 0;
}

/*四个*/
.four-menu{ width: 100%;display: table; overflow: hidden;background-color: #fff;padding:10px 0;margin-bottom:8px;}
.four-menu li{display: table-cell;text-align: center;}
.four-menu li img{ width: 60px; height:60px;}
.four-menu li p{ margin: 0;margin-top: 4px;font-size:14px ;color: #333;}
.four-menu li a{display: block;width: 100%;text-shadow: none;margin: 0;border-radius: 0;text-decoration: none; text-align:center;}

/*弹出优惠券*/

.details-title1 {
	font-size: 15px;
	color: #3B4357;
	height: 30px;
	line-height: 30px;
	clear: both;
	position: relative;
	background: #FFFFFF;
	width: 100%;
	/* padding-left: 10px; */
	/* border-bottom: 1px solid #F6F7FA */
}
.yddiv {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 300px;
	border-top: 1px solid #dddddd;
	z-index: 9999;
}



.xlxqcss {
	background: #FFFFFF;
	padding: 0;
	width: 100%;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 6px;
}

.tcyhj {
	padding: 0;
	margin: 0;
}

.tcyhj li {
	width: 100%;
	height: 72px;
	overflow: hidden;
	margin: 10px auto;
}

.tcyhj-list {
	width: 98%;
	position: relative;
	border-radius: 5px;
	height: 70px;
	border: 1px solid #ffbb32;
	color: #666;
}


.tcyhj-bt {
	border-right: 1px dashed #ffbb32;
	padding: 5px 0 5px 4%;
	position: relative;
	min-height: 60px;
	height: 60px;
	width: 75%;
	float: left;
	box-sizing:border-box;
}

.tcyhj-bt .btzi {
	font-size: 16px;
	line-height: 24px;
	color: #ffbb32;
	text-align: center;
	width: 100%;
	overflow: hidden;
	font-weight:bold;
	font-size: 12px;
}

.tcyhj-bt .nrzi {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	position: absolute;
	top: 6px;
	left: 0px;
	width: 60px;
	height: 20px;
	background: #ffbb32;
	border-radius: 0 5px 5px 0;
	text-align: center;
	overflow: hidden;
}

.tcyhj-bt .leftyuan {
	background: #FFFFFF;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	position: absolute;
	right: -6px;
	top: -5px;
	border: 1px solid #ffbb32;
}

.tcyhj-bt .rightyuan {
	background: #FFFFFF;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	position: absolute;
	right: -6px;
	bottom: -15px;
	border: 1px solid #ffbb32;
}

.tcyhj-data {
	text-align: center;
	width: 25%;
	float: left;
	border-radius: 0;
	line-height: 70px;
	color: #fff;
	background:#ffbb32;
}

.tcsybtg {
	background: #5ECF88;
	border: 0;
	width: 80px;
	height: 26px;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	line-height: 26px;
	cursor: pointer;
	margin: 22px auto;
}
.content {
	width: 100%;
	padding:6px 12px;
	box-sizing:border-box;
}


/*不可用已过期优惠券*/
.tcyhj-listhui {
	width: 98%;
	position: relative;
	border-radius: 5px;
	height: 70px;
	border: 1px solid #bbb;
	color: #666;
}
.tcyhj-bthui {
	border-right: 1px dashed #bbbbbb;
	padding: 5px 0 5px 4%;
	position: relative;
	min-height: 60px;
	height: 60px;
	width: 75%;
	float: left;
	box-sizing:border-box;
}

.tcyhj-bthui .btzi {
	font-size: 16px;
	line-height: 24px;
	color: #bbbbbb;
	text-align: center;
	width: 100%;
	overflow: hidden;
	font-weight:bold;
}

.tcyhj-bthui .nrzi {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	position: absolute;
	top: 6px;
	left: 0px;
	width: 60px;
	height: 20px;
	background: #bbbbbb;
	border-radius: 0 5px 5px 0;
	text-align: center;
	overflow: hidden;
}

.tcyhj-bthui .leftyuan {
	background: #FFFFFF;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	position: absolute;
	right: -6px;
	top: -5px;
	border: 1px solid #bbbbbb;
}

.tcyhj-bthui .rightyuan {
	background: #FFFFFF;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	position: absolute;
	right: -6px;
	bottom: -15px;
	border: 1px solid #bbbbbb;
}
.tcyhj-datahui {
	text-align: center;
	width: 25%;
	float: left;
	border-radius: 0;
	line-height: 70px;
	color: #fff;
	background:#bbb;
}


/*领券广场*/
.gcyhj li {
	padding: 0;
	width: 45.5%;
	margin: 3% 0 0 3%;
	float: left;
	overflow: hidden;
}

.gcyhj-list {
	width: 98.6%;
	margin-left: 0;
	position: relative;
	border-radius: 5px;
	height: 200px;
	border: 1px solid #ffbb32;
	color: #5ECF88;

}


.gcyhj-bt {
	border-bottom: 1px dashed #ffbb32;
	padding: 10px;
	position: relative;
	min-height: 120px;
	height: 130px;
}

.gcyhj-bt .btzi {
	font-size: 24px;
	line-height: 60px;
	text-align: center;
	color:#ffbb32;
}

.gcyhj-bt .bqzi {
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	position: absolute;
	top: 6px;
	left: 0px;
	width: 60px;
	height: 20px;
	background: #ffbb32;
	border-radius: 0 5px 5px 0;
	text-align: center;
	overflow: hidden;
}

.gcyhj-bt .nrzi {
	font-size: 12px;
	line-height: 18px;
	color: #3B4357;
	text-align:center;
}

.gcyhj-bt .leftyuan {
	background: #FFFFFF;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	position: absolute;
	left: -5px;
	bottom: -5px;
	border: 1px solid #ffbb32;
}

.gcyhj-bt .rightyuan {
	background: #FFFFFF;
	border-radius: 10px;
	width: 10px;
	height: 10px;
	position: absolute;
	right: -5px;
	bottom: -5px;
	border: 1px solid #ffbb32;
}

.gcyhj-data {
	margin: 0px auto;
	padding: 10px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	background:#ffbb32;
	border-radius:5px;
}


.gcsybtg {
	background: #5ECF88;
	border: 0;
	width: 80px;
	height: 26px;
	border-radius: 5px;
	color: #FFFFFF;
	text-align: center;
	line-height: 26px;
	cursor: pointer;
}

.wzpcss {
	padding: 10px 10px 20px 10px;
	font-family: "微软雅黑";
	font-size: 15px;
	text-align: center;
	color: #aaaaaa;
}

/*优惠券选择样式*/
.yhjon{
	border-bottom: 1px solid #f5f5f5;
	font-size: 14px;
	line-height: 40px;
	padding: 0 40px 0 0;
	cursor: pointer;
	background:url(../images/checkc.png) no-repeat right;vertical-align: middle;
	margin:0 20px;
}
.yhjoff{
	border-bottom: 1px solid #f5f5f5;
	font-size: 14px;
	line-height: 40px;
	height:40px;
	padding: 0 40px 0 0;
	cursor: pointer;
	background:url(../images/check.png) no-repeat right;vertical-align: middle;
	margin:0 20px;
}
.ddlist .txt{	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;}

.snyg_tz_type li{ position:relative;}
.itsbg {display:inline-block; width:12px; height:12px; border-radius:10px; color:#ffffff; text-align:center; position:absolute; right:30%;font-size:9px; line-height:10px; background:#ff5858; overflow:hidden;}

